<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="claim">

  {{ partial "header.html" . }}

  <main>

    <section class="hero paper" data-scroll data-scroll-showCallback="heroIn()"
      data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div id="{{ $.Param "content.sections.hero.name" }}" class="col col-lg-6 col-xl-5 offset-xl-1">
            <h1 data-scroll="once">{{ $.Param "content.sections.airdrop_coming_soon.headline" }}</h1>
            <p class="lg" data-scroll="once">{{ $.Params.content.sections.airdrop_coming_soon.subhead }}</p>
            <div class="hero-ctas">
              <a href="#video" class="btn">
                {{ $.Params.content.sections.airdrop_coming_soon.cta.label }}
              </a>
              <a href="#details" class="btn btn-plain">
                {{ $.Params.content.sections.airdrop_coming_soon.sub_cta.label }}
              </a>
            </div>
          </div>
          {{ partial "airdrop-balance.html" . }}
        </div>
      </div>
      {{ partial "hero-coins.html" . }}
    </section>

    <section id="details" class="how-much resources paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.how_much.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-5 offset-ul-1 mbg1">
            <p>{{ $.Param "content.sections.how_much.snapshot" }}</p>
            <p>{{ $.Param "content.sections.how_much.max" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $example := $.Param "content.sections.how_much.examples" }}
              <div class="example col col-sm-6 col-md-4" data-scroll="once">
                <div class="example-icon">
                  {{ readFile $example.icon  | safeHTML }}
                </div>
                <div class="owned">{{ $.Param "content.sections.how_much.prefix" }} <strong
                    class="text-pink">{{ $example.btc }}</strong></div>
                <div class="will-get">{{ $example.dfi }}</div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row mtg1">
          {{ range $method := $.Params.content.sections.how_much.claim_methods }}
          <div class="way-to-acquire resource-cta col col-sm-6">
            <div class="card">
              <div>
                <h4>{{ $method.title }}</h4>
                <p>{{ $method.description | markdownify }}</p>
                <div class="resource-links mtg1">
                  <a href="{{ $method.cta.url }}" class="btn"{{ with eq $method.cta.type "external" }} target="_blank"{{ end }}>{{ $method.cta.label }}</a>
                </div>
                <div class="bg"></div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="row mtg1">
          <div class="col col-ul-5 offset-ul-1 mbg1">
            {{ $.Params.content.sections.how_much.disclaimer | markdownify }}
          </div>
        </div>
      </div>
      <div class="section-slope paper reverse">
        {{ readFile "/static/svg/section-slope-line.svg" | safeHTML }}
      </div>
    </section>

    <section id="why-dfi" class="why-dfi day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.why_dfi.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-8 col-md-6 col-ul-4 offset-ul-1">
            <p class="lg">{{ $.Param "content.sections.why_dfi.subhead" }}</p>
          </div>
          <div class="carousel-nav col col-sm-4 col-md-6">
            <div class="swiper-button-prev">
              {{ readFile "/static/svg/icons/icon-arrow-big.svg" | safeHTML }}
            </div>
            <div class="swiper-button-next">
              {{ readFile "/static/svg/icons/icon-arrow-big.svg" | safeHTML }}
            </div>
          </div>
        </div>
      </div>
      <div class="carousel swiper-container col">
        <div class="swiper-wrapper">
          {{ range $year := $.Param "content.sections.why_dfi.roadmap" }}
          {{ range $eventindex, $event := $year.events }}
          <div class="timeline-event {{ $event.status }} swiper-slide">
            <div class="card white">
              <div class="event-content">
                <h4 class="h5">{{ $event.month }} {{ if eq $eventindex 0 }}{{ $year.year }}{{ end }}</h4>
                {{ with $event.url }}<a href="{{ . }}" target="_blank">{{ end }}
                  {{ $event.title }}
                {{ with $event.url }}</a>{{ end }}
              </div>
              <div class="event-image">
                <img src="{{ $event.image.x1 }}" srcset="{{ $event.image.x1 }} 1x, {{ $event.image.x2 }} 2x" alt="{{ $event.image.alt }}">
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="claim-my-dfi" class="claim-wizard white">

      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Params.content.sections.claim_wizard.coming_soon_headline }}</h2>
          </div>
        </div>
      </div>

      <div class="collapsible-content container-flushed" id="claim-step1">
        <div class="row">
          {{ range $index, $option := $.Params.content.sections.claim_wizard.step1.options }}
          <div class="col col-ul-5 {{ with eq $index 0 }} offset-ul-1{{ end }}">
            <div class="resource-image">
              {{ readFile $option.image | safeHTML }}
            </div>
            <h4 data-scroll="once">{{ $option.headline | markdownify }}</h4>
            <a href="{{ $option.cta.url | relLangURL }}" target="_blank" class="btn" data-scroll="once">
              {{ $option.cta.label }}
            </a>
          </div>
          {{ end }}
        </div>
        <div class="row">
          <div class="col col-ul-6 offset-ul-1 mbg1">
            <p>{{ $.Params.content.sections.claim_wizard.step1.body_coming_soon }}</p>
          </div>
        </div>
      </div>
    
      <div class="section-slope white reverse">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="video" class="featured-video paper">
      <div class="container-flush">
        <div class="row">
          <div class="col col-lg-6 offset-lg-3">
            <h2 data-scroll="once" class="text-center">{{ $.Param "content.sections.airdrop_coming_soon.video.headline" }}</h2>
            <div class="video-player">
              <div id="player-embed"></div>
              <script>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                  player = new YT.Player('player-embed', {
                    height: '390',
                    width: '640',
                    videoId: '{{ $.Params.content.sections.airdrop_coming_soon.video.id }}',
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    },
                    playerVars: {
                      controls: 1,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      showinfo: 0
                    }
                  });
                }
                function onPlayerReady(event) {
                  // play and pause
                }
                var done = false;
                function onPlayerStateChange(event) {
                  if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000);
                    done = true;
                  }
                }
                function stopVideo() {
                  player.stopVideo();
                }
              </script>
            </div>
          </div>
        </div>
        <div class="row mtg1">
          <div class="col text-center">
            <a href="{{ $.Params.content.sections.airdrop_coming_soon.video.cta.url }}" class="btn" target="_blank">
              {{ $.Params.content.sections.airdrop_coming_soon.video.cta.label }}
            </a>
          </div>
        </div>
      </div>
      <div class="section-slope paper reverse">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

  </main>

  {{ partial "footer.html" . }}
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $parsley := resources.Get "js/parsley.min.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $claim := resources.Get "js/claim.js" }}
  {{ $collapsible := resources.Get "js/collapsible.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $parsley $main $collapsible $claim | resources.Concat "js/bundle-claim.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
</body>

</html>