<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  {{ partial "favicons.html" . }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="developers">

  {{ partial "header.html" . }}

  <main>

    <section class="hero white fort-canning" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="resources day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.resources.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.resources.github.url" | relLangURL }}" target="_blank">
                    <div class="resource-image">
                      {{ readFile $.Params.content.sections.resources.github.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $.Param "content.sections.resources.github.headline" | markdownify }}
                    </h3>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.resources.github.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.resources.download.url" | relLangURL }}" target="_blank">
                    <div class="resource-image">
                      {{ readFile $.Params.content.sections.resources.download.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $.Param "content.sections.resources.download.headline" | markdownify }}
                    </h3>
                    <small>{{ $.Param "content.sections.resources.download.subhead" }}</small>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.resources.download.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.resources.explorer.url" | relLangURL }}" target="_blank">
                    <div class="resource-image">
                      {{ readFile $.Params.content.sections.resources.explorer.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $.Param "content.sections.resources.explorer.headline" | markdownify }}
                    </h3>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.resources.explorer.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.resources.white_paper.url" | relLangURL }}">
                    <div class="resource-image">
                      {{ readFile $.Params.content.sections.resources.white_paper.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $.Param "content.sections.resources.white_paper.headline" | markdownify }}
                    </h3>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.resources.white_paper.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.resources.reddit.url" | relLangURL }}">
                    <div class="resource-image">
                      {{ readFile $.Params.content.sections.resources.reddit.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $.Param "content.sections.resources.reddit.headline" | markdownify }}
                    </h3>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.resources.reddit.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope paper reverse">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section class="members white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.core_contributors.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.core_contributors.subhead" | markdownify }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="members-list row">
              {{ range $member := $.Param "content.sections.core_contributors.contributors_list" }}
              <div class="member col col-md-4">
                <div class="wrapper">
                  <h3 class="h4">{{ $member.name }}</h3>
                  <p>
                    {{ with $member.github }}
                    <a href="{{ . }}" target="_blank">{{ $member.username }}</a>
                    {{ end }}
                    {{ with $member.city }}
                    <div class="small">{{ . }}</div>
                    {{ end }}
                  </p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope white">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $slick $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
  {{ partial "pixels/twitter.html" . }}
</body>

</html>