# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @pierregee @nattadex @chloezxyy
/.husky/                                        @pierregee @nattadex @chloezxyy

/src/                                           @pierregee @nattadex @chloezxyy

/src/styles/                                    @pierregee @nattadex @chloezxyy

/public/                                        @pierregee @nattadex @chloezxyy

next.config.js                                  @pierregee @nattadex @chloezxyy
package.json                                    @pierregee @nattadex @chloezxyy
package-lock.json                               @pierregee @nattadex @chloezxyy
tsconfig.json                                   @pierregee @nattadex @chloezxyy

CONTRIBUTING.md                                 @pierregee @nattadex @chloezxyy
README.md                                       @pierregee @nattadex @chloezxyy
LICENSE                                         @pierregee @nattadex @chloezxyy
