# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @joeldavidw @thedoublejay
/.husky/                                        @fuxingloh @joeldavidw @thedoublejay

/src/                                           @thedoublejay @kyleleow @pierregee

/src/styles/                                    @thedoublejay @kyleleow @pierregee

/public/                                        @thedoublejay @kyleleow @pierregee

next.config.js                                  @joeldavidw @thedoublejay @kyleleow @pierregee
package.json                                    @joeldavidw @thedoublejay @kyleleow @pierregee
package-lock.json                               @joeldavidw @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @joeldavidw @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @fuxingloh @joeldavidw @thedoublejay @kyleleow @pierregee
README.md                                       @fuxingloh @joeldavidw @thedoublejay @kyleleow @pierregee
LICENSE                                         @fuxingloh
