[build]
command = "hugo"
publish = "public"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'none'; base-uri 'none'; child-src 'self' app.netlify.com; form-action 'none'; frame-ancestors 'none'; img-src 'self' data: img.youtube.com *.githubusercontent.com *.coinmarketcap.com www.facebook.com; media-src 'self'; object-src 'none'; script-src 'self' app.netlify.com netlify-cdp-loader.netlify.app cdnjs.cloudflare.com ajax.googleapis.com cdn.jsdelivr.net files.coinmarketcap.com px.ads.linkedin.com www.google.com www.google-analytics.com www.gstatic.com connect.facebook.net snap.licdn.com static.ads-twitter.com www.youtube.com 'unsafe-inline'; style-src 'self' fonts.googleapis.com 'unsafe-inline'; font-src fonts.gstatic.com; connect-src 'self' api.cakedefi.com mainnet-api.defichain.io ocean.defichain.com 3rdparty-apis.coinmarketcap.com api.github.com; prefetch-src 'self'; manifest-src 'self'; frame-src www.youtube.com;"
    Referrer-Policy = "same-origin"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"

[[redirects]]
  from = "http://defichain.com/*"
  to = "https://defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://defichain.com/*"
  to = "https://defichain.com/en/:splat"
  status = 200


[[redirects]]
  from = "http://zhs.defichain.com/*"
  to = "https://zhs.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://zhs.defichain.com/*"
  to = "https://defichain.com/zh-hans/:splat"
  status = 200


[[redirects]]
  from = "http://zht.defichain.com/*"
  to = "https://zht.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://zht.defichain.com/*"
  to = "https://defichain.com/zh-hant/:splat"
  status = 200


[[redirects]]
  from = "http://zh.defichain.com/*"
  to = "https://zh.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://zh.defichain.com/*"
  to = "https://defichain.com/zh-hans/:splat"
  status = 200




[[redirects]]
  from = "http://defichain.io/*"
  to = "https://defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://defichain.io/*"
  to = "https://defichain.com/:splat"
  status = 301
  force = true


[[redirects]]
  from = "http://www.defichain.io/*"
  to = "https://defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.defichain.io/*"
  to = "https://defichain.com/:splat"
  status = 301
  force = true


[[redirects]]
  from = "http://zht.defichain.io/*"
  to = "https://zht.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://zht.defichain.io/*"
  to = "https://zht.defichain.com/:splat"
  status = 301
  force = true


[[redirects]]
  from = "http://zhs.defichain.io/*"
  to = "https://zhs.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://zhs.defichain.io/*"
  to = "https://zhs.defichain.com/:splat"
  status = 301
  force = true


[[redirects]]
  from = "https://zh.defichain.io/*"
  to = "https://zh.defichain.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://zh.defichain.io/*"
  to = "https://zh.defichain.com/:splat"
  status = 301
  force = true