{
  "parserOptions": {
    "project": "./cypress/tsconfig.json"
  },
  "extends": [
    "plugin:cypress/recommended",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "**/plugins/*.ts",
    "**/support/*.ts"
  ]
}
