{
  "parserOptions": {
    "project": "./cypress/tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "plugin:cypress/recommended"
  ],
  "ignorePatterns": [
    "**/plugins/*.ts",
    "**/support/*.ts"
  ]
}
