@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}


/*Slick slider overrides*/
.slick-prev::before, .slick-next::before {
    display: none !important;
}

.slick-list {
    margin: -16px;
}

.slick-slide {
    padding: 16px;
}

.slick-dots {
    bottom: -25px;
}
