@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .accent-dfc-gradient {
    background: linear-gradient(90deg, #FF00FF 0%, #EC0C8D 100.04%);
  }

  .accent-gradient-1 {
    background: linear-gradient(72.57deg, #EC008C 17.15%, #5B10FF 89.41%, #0468D6 102.56%);
  }

  .accent-gradient-2 {
    background: linear-gradient(261.07deg, #EC008C -0.26%, #5B10FF 79.46%, #082FD4 100%);
  }

  .accent-gradient-3 {
    background: linear-gradient(90.66deg, #42F9C2 -6.44%, #082FD4 76.25%);
  }

  .accent-gradient-4 {
    background: linear-gradient(270deg, #7FF5C5 0%, #1530CC 100%);
  }
}

/*Slick slider overrides*/
.slick-prev::before,
.slick-next::before {
  display: none !important;
}

.slick-prev {
  @apply left-[65%] md:left-[70%] lg:left-[75%] !important;
  top: -50px !important;
}

.slick-next {
  top: -50px !important;
  right: 20% !important;
}

.slick-list {
  margin: -16px;
}

.slick-slide {
  padding: 16px;
}

.slick-dots {
  bottom: -25px;
}
