@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");

@import "@components/icons/assets/blockchainFeatures/styles/blockchainFeatures.css";
@import "@components/icons/assets/masternodesBenefits/styles/masternodesBenefits.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: clip;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* UI components */
  .card-bg {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
  }

  .banner-bg {
    background: linear-gradient(
      97.67deg,
      rgba(0, 0, 0, 0.4) 0.05%,
      rgba(0, 0, 0, 0) 93%
    );
  }

  .card-stroke {
    background: rgba(51, 51, 51, 0.5);
  }

  .card-outline-2 {
    background: linear-gradient(
      120.02deg,
      rgba(255, 255, 255, 0.25) 8.27%,
      rgba(223, 243, 167, 0.2) 33.42%,
      rgba(99, 173, 241, 0.3) 68.31%,
      rgba(255, 0, 175, 0.5) 103.28%
    );
  }

  .card-section-bg {
    background: linear-gradient(
      144.57deg,
      rgba(124, 124, 124, 0.1) -0.38%,
      rgba(74, 74, 74, 0.1) 98.45%
    );
  }

  .grid-lines {
    background: rgba(142, 142, 142, 0.3);
  }

  .on-list-hover {
    background: linear-gradient(
      144deg,
      rgba(46, 46, 46, 0.2) -0.38%,
      rgba(18, 18, 18, 0.2) 100.17%
    );
  }

  .on-list-press {
    background: linear-gradient(
      144deg,
      rgba(46, 46, 46, 0.4) -0.38%,
      rgba(18, 18, 18, 0.4) 100.17%
    );
  }

  .header-dropdown-bg {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(30px);
  }

  /* Accent gradients */
  .accent-dfc-gradient {
    background: linear-gradient(90deg, #ff00ff 0%, #ec0c8d 100.04%);
  }

  .accent-dfc-gradient-text {
    background: linear-gradient(90deg, #ff00ff 0%, #ec0c8d 100.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .accent-gradient-1 {
    background-image: linear-gradient(
      72.57deg,
      #ec008c 17.15%,
      #5b10ff 89.41%,
      #0468d6 102.56%
    );
  }

  .accent-gradient-2 {
    background-image: linear-gradient(
      261.07deg,
      #ec008c -0.26%,
      #5b10ff 79.46%,
      #082fd4 100%
    );
  }

  .accent-gradient-3 {
    background: linear-gradient(90.66deg, #42f9c2 -6.44%, #082fd4 76.25%);
  }

  .accent-gradient-4 {
    background: linear-gradient(270deg, #7ff5c5 0%, #1530cc 100%);
  }

  .gradient-button-hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      linear-gradient(72.57deg, #ec008c 17.15%, #5b10ff 89.41%, #0468d6 102.56%);
  }
}

/*Slick slider overrides*/
.slick-prev::before,
.slick-next::before {
  display: none !important;
}

.footer-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    linear-gradient(
      152.58deg,
      rgba(51, 51, 51, 0.4) -3.08%,
      rgba(128, 128, 128, 0.1) 77.78%
    );
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2),
    0px 5px 20px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}

.mouse-cursor-gradient-tracking {
  background: linear-gradient(to right, #a6a6a6, #a6a6a6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.mouse-cursor-gradient-tracking > * {
  transition: opacity 0.2s ease-in-out;
}

.hover-icons:hover {
  fill: #ff00ff;
}

#invest_ellipse {
  position: absolute;
  height: 300px;
}
#invest_hover_ellipse {
  position: absolute;
  height: 300px;
}

#dfi {
  position: absolute;
  width: 316px;
  top: 60px;
  left: 272px;
  animation: transform-in 0.3s;
  animation-play-state: paused;
  transform-box: fill-box;
  transform-origin: 40% 60%;
  animation-play-state: paused;
  --rotateDeg: -45deg;
  --xLength: -40px;
  --yLength: 10px;
}

#dfi_hover {
  position: absolute;
  width: 316px;
  top: 60px;
  left: 272px;
  /* transform-box: fill-box; */
  transform-origin: 40% 60%;
  animation: transform 0.2s linear both;
  animation-play-state: paused;
  --rotateDeg: -45deg;
  --xLength: -40px;
  --yLength: 10px;
}

#dex {
  position: absolute;
  left: 50px;
  bottom: 10px;
  scale: 1.5;

  animation: fade-in 0.3s ease-in;
  animation-play-state: paused;
}

#dex_hover {
  animation: fade-out 0.3s ease-in;
  animation-play-state: paused;
}

#cube {
  position: absolute;
  width: 261.07px;
  top: 60px;
  left: 272px;
  animation: transform-in 0.3s, width-in 0.3s;
  animation-play-state: paused;
  transform-box: fill-box;
  transform-origin: 40% 60%;
  animation-play-state: paused;
  --rotateDeg: -45deg;
  --xLength: -40px;
  --yLength: 10px;
}

#cube_hover {
  position: absolute;
  width: 380px;
  top: 60px;
  left: 300px;
  /* transform-box: fill-box; */
  transform-origin: 40% 60%;
  animation: transform 0.3s linear both;
  animation-play-state: paused;
  --rotateDeg: -40deg;
  --xLength: -50px;
  --yLength: 10px;
}


.dapp-card #dfi,
#dfi_hover,
#dex,
#dex_hover,
#cube,
#cube_hover {
  animation-play-state: running;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--rotateDeg));
  }
}
@keyframes transform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(var(--xLength), var(--yLength))
      rotate(var(--rotateDeg));
  }
}
@keyframes transform-in {
  0% {
    opacity: 1;
    transform: translate(var(--xLength), var(--yLength))
      rotate(var(--rotateDeg));
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0.5;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* For quantum donut */
@keyframes transform-into {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(var(--rotateDeg))
      translate3d(var(--xLength), var(--yLength), -600px);
    scale: 0.85;
  }
}
@keyframes transform-out {
  0% {
    opacity: 1;
    transform: translate(var(--xLength), var(--yLength))
      rotate(var(--rotateDeg));
    scale: 0.85;
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes width-in {
  0% {
    width: 380px;
  }
  100% {
    width: 261.07px;
  }
}

.flexbox-wrapper {
  display: flex;
  overflow: auto;
  height: 639px;
}

.sticky-container {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
}

.jellyfish-item {
  animation: diagonal-move-anim 2.5s cubic-bezier(0.42, 0, 0.58, 1) infinite
    alternate;
  position: absolute;
}

@keyframes diagonal-move-anim {
  0% {
    transform: translate(150px, 0px);
  }

  100% {
    transform: translate(130px, 20px);
  }
}

/* Overwrite slick-carousel default stylings */
.blockchain-features-dots,
.harness-dfi-dots {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 32px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.blockchain-features-dots li,
.harness-dfi-dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  padding: 0;
}

.blockchain-features-dots li button,
.harness-dfi-dots li button {
  border: 1px solid #8c8c8c;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.blockchain-features-dots li.slick-active button,
.harness-dfi-dots li.slick-active button {
  background-color: #ff00af;
  border: 1px solid #ff00af;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

.roadmap-section .slick-slide {
  @apply py-8 px-3 md:py-6;
}

.roadmap-section .slick-arrow {
  top: -48px !important;
  cursor: pointer;
  z-index: 10;
}

.roadmap-section .slick-arrow:hover,
.roadmap-section .slick-arrow:focus {
  background-color: #121212 !important;
}

.roadmap-dots {
  display: flex !important; /* override inline block display from library */
  width: calc(100% - 48px);
  position: absolute;
  top: 0px;
  left: 24px;
  background-color: #2b2b2b;
  border-radius: 4px;
  max-width: 1320px;
}

@media only screen and (min-width: 600px) {
  .roadmap-section .slick-prev {
    left: calc(100% - 48px - 48px - 48px - 8px);
  }
  .roadmap-section .slick-next {
    right: 48px;
  }
  .roadmap-dots {
    left: 48px;
    width: calc(100% - 96px);
  }
  .roadmap-section .slick-slide:first-child {
    padding-left: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .roadmap-section .slick-prev {
    left: calc((100% - 1200px) / 2 + 1200px - 48px - 8px - 48px);
  }
  .roadmap-section .slick-next {
    right: calc((100% - 1200px) / 2);
  }
  .roadmap-dots {
    left: calc((100% - 1200px) / 2);
    width: 1200px;
  }
  .roadmap-section .slick-slide:first-child {
    padding-left: calc((100vw - 1200px) / 2);
  }
}

@media only screen and (min-width: 1920px) {
  .roadmap-section .slick-prev {
    left: calc((100% - 1320px) / 2 + 1320px - 48px - 8px - 48px);
  }
  .roadmap-section .slick-next {
    right: calc((100% - 1320px) / 2);
  }
  .roadmap-dots {
    left: calc((100% - 1320px) / 2);
    width: 100%;
  }
  .roadmap-section .slick-slide:first-child {
    padding-left: calc((100vw - 1320px) / 2);
  }
}

.roadmap-dots li {
  width: 100%;
  margin: 0;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.roadmap-dots li.slick-active {
  background-color: #ff00af;
  border-radius: 4px;
}

@media only screen and (min-width: 1024px) {
  .roadmap-dots li.slick-active {
    background-color: transparent;
  }
}
