.btn {
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-decoration: none;
  margin: 0;
  padding-right: $button-padding-horizontal;
  padding-left: $button-padding-horizontal;
  padding-bottom: $button-padding-vertical;
  padding-top: $button-padding-vertical;
  border-radius: $button-border-radius;
  letter-spacing: $button-letter-spacing;
  border: 0;
  text-align: center;
  background-color: $button-primary-bg;
  color: $button-primary-color;
  transition: $form-control-transition;

  &:hover {
    background-color: darken($button-primary-bg, 10%);
    color: $button-primary-color;
    text-decoration: none;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &.btn-plain {
    background-color: $color-ui-lightest;
    color: $color-ui-action;

    &:hover {
      background-color: lighten($color-ui-action, 42%);
    }
  }

  &.btn-linkedin {
    background-color: $color-linkedin;

    &:hover {
      background-color: darken($color-linkedin, 10%);
    }
  }

  &[disabled] {
    color: $color-ui-medium;

    &:hover  {
      text-decoration: none;
    }
  }
}