.btn {
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-decoration: none;
  margin: 0;
  padding-right: $button-padding-horizontal;
  padding-left: $button-padding-horizontal;
  padding-bottom: $button-padding-vertical;
  padding-top: $button-padding-vertical;
  border-radius: $button-border-radius;
  letter-spacing: $button-letter-spacing;
  border: 0;
  text-align: center;
  background-color: $button-primary-bg;
  color: $button-primary-color;
  transition: $form-control-transition;
  white-space: nowrap;

  &:hover {
    background-color: darken($button-primary-bg, 10%);
    color: $button-primary-color;
    text-decoration: none;
  }

  &.btn-pill {
    border-radius: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &.btn-plain {
    background-color: $button-plain-bg;
    color: $button-plain-color;

    &:hover {
      color: lighten($button-plain-color, 10%);
    }
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &[disabled] {
    background-color: $color-ui-black40;

    &:hover  {
      text-decoration: none;
    }
  }
}

.dark .btn {
  color: $color-ui-white;

  &:hover {
    background-color: $color-ui-white10;
    color: $color-ui-white;
  }
}

.cta-to {
  min-width: 140px;
  height: 32px;
  line-height: 1;
  border-bottom: 1px solid currentColor;
  display: inline-flex;
  justify-content: space-between;

  &:hover {
    text-decoration: none;
  }

  span {
    margin-left: 16px;
  }

  svg {
    fill: currentColor;
  }
}

div.cta-to {
  width: 140px;
}