form {
  margin-bottom: 32px;
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  input[type="text"],
  input[type="email"],
  textarea {
    flex-grow: 1;
    display: block;
    appearance: none;
    outline: none;
    border: 0;
    margin: 0;
    padding-left: $form-control-padding-horizontal;
    padding-right: $form-control-padding-horizontal;
    padding-top: $form-control-padding-vertical - 0.5px;
    padding-bottom: $form-control-padding-vertical - 0.5px;
    font-size: $form-control-font-size;
    line-height: $form-control-line-height;
    background-color: $form-control-bg;
    border: $form-control-border;
    border-radius: $form-control-border-radius;
    box-shadow: $base-box-shadow;
    background-color: $color-ui-white;
    color: $form-control-color;
    resize: none;

    &::placeholder {
      color: $color-ui-black60;
      transition: $form-control-transition;
    }

    &:focus {
      &::placeholder {
        color: $color-ui-black40;
      }
    }
  }

  &.has-accessory {
    input[type="text"],
    input[type="email"],
    textarea {
      padding-right: $form-control-padding-horizontal + 70px;
    }
  }

  .accessory {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;

    svg {
      fill: currentColor;
    }
  }
}

.dark .form-field {
  input[type="text"],
  input[type="email"],
  textarea {
    color: $color-ui-white;

    &::placeholder {
      color: $color-ui-white60;
    }

    &:focus {
      &::placeholder {
        color: $color-ui-white40;
      }
    }
  }
}

form.integrated {
  border: $form-control-border;
  border-radius: $form-control-border-radius;
  box-shadow: $base-box-shadow;
  background-color: $form-control-bg;

  &:focus {
    border-color: $color-ui-black40;
  }

  .form-field {
    margin-bottom: 0;
    flex-wrap: nowrap;

    &:nth-child(n+2) {
      border-top: $form-control-border;;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    width: 0;
  }

  .btn-plain {
    font-weight: $font-weight-bold;
  }
}

.form-helper {
  color: $color-ui-black60;
}

.dark {
  form.integrated {
    border-color: $color-ui-white20;
  }

  .form-helper {
    color: $color-ui-white60;
  }
}


// 
// Float labels
//

@mixin float-label-container {
  display: flex;
  position: relative;
}

@mixin float-label {
  label, > span {
    position: absolute;
    left: $form-control-padding-horizontal - 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-ui-white;
    color: inherit;
    top: -16px;
    cursor: text;
    font-size: $note-font-size;
    opacity: 1;
    transition: all .2s;
    @content;
  }
}

@mixin float-label-input {
  &::placeholder {
    opacity: 1;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
      opacity: 0;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
      font-size: $form-control-font-size;
      @content;
  }
}

.has-float-label {
  @include float-label-container;

  @include float-label;

  select {
    appearance: none;
  }

  textarea {
    width: 100%;
  }

  input, select, textarea {
    @include float-label-input;
    @include float-label-scaled {
      top: $form-control-padding-vertical - 1px;
    }

    &:focus {
      outline: none;
      border-color: rgba(0,0,0,.5);
    }
  }

  select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
    background-size: 8px 10px;
  }
}

.dark {
  .has-float-label {
    label, > span {
      background-color: map-get($brand-colors, evening);
    }
  }
}


//
// Send In Blue
//

#error-message {
  color: $color-ui-red;
  margin-bottom: 32px;
}
#success-message {
  color: $color-ui-green;
  margin-bottom: 32px;
}
.input--hidden {
  display: none;
}
.sib-form-message-panel {
  display: none;
}
.sib-form-message-panel--active {
  display: block;
}
.entry__error {
  position: absolute;
  left: 0;
  top: 0;
  font-size: $note-font-size;
  line-height: $note-line-height;
  color: $color-ui-red;
  margin-top: $form-control-padding-vertical;

  @include text-hide;
}