.form-field {
  display: flex;
  flex-wrap: wrap;

  input[type="text"],
  input[type="email"],
  textarea {
    flex-grow: 1;
    display: block;
    appearance: none;
    outline: none;
    border: 0;
    margin: 0;
    padding-left: $form-control-padding-horizontal;
    padding-right: $form-control-padding-horizontal;
    padding-top: $form-control-padding-vertical - 0.5px;
    padding-bottom: $form-control-padding-vertical - 0.5px;
    font-size: $form-control-font-size;
    line-height: $form-control-line-height;
    background-color: $form-control-bg;
    border: $form-control-border;
    border-radius: $form-control-border-radius;
    box-shadow: $base-box-shadow;
    background-color: $color-ui-white;
    color: $form-control-color;
    resize: none;

    &::placeholder {
      color: $color-ui-black60;
      transition: $form-control-transition;
    }

    &:focus {
      &::placeholder {
        color: $color-ui-black80;
      }
    }
  }

  .btn {
    margin-top: $grid-gutter;

    @include media(">sm") {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}