//
// General
//

* {
  box-sizing: border-box;
}

body {
  background-color: $color-ui-white;
}


// 
// Flex helpers
// 

.d-flex {
  display: flex;
}


// 
// Margin helpers
//

.mbg0 {
  margin-bottom: 0;
}

.mtg1 {
  margin-top: $grid-gutter;
}

.mbg1 {
  margin-bottom: $grid-gutter;
}

.mvg1 {
  margin-top: $grid-gutter;
  margin-bottom: $grid-gutter;
}


//
// Header
//

body > header {
  position: fixed;
  width: 100%;
  z-index: $zindex-sticky;

  a {
    color: $color-ui-black;
  }

  .row {
    align-items: center;
    height: $header-height;
    align-items: stretch;

    @include media(">md") {
      height: $header-height-md;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      list-style: none;
      display: none;
      padding: 0;
      transition: all 0.5s ease;

      @include media(">ul") {
        display: flex;
      }

      li {
        position: relative;
      }

      a {
        display: block;
        padding: 20px;
        color: $color-ui-black60;
        text-decoration: none;

        &:hover {
          color: $color-ui-black;
          text-decoration: none;
        }
      }

      li.active a {
        color: $color-ui-black;
      }

      .white-paper-list-link {
        display: none;
      }
    }
  }

  &.dark {
    color: $color-ui-white;

    a {
      color: $color-ui-white;
    }

    nav {
      .menu {
        a {
          color: $color-ui-white60;

          &:hover {
            color: $color-ui-white;
          }
        }

        li.active a {
          color: $color-ui-white;
        }
      }
    }
  }

  .brand {
    position: relative;
    z-index: $zindex-sticky;
    box-sizing: content-box;
    display: block;
    width: 168px;
    height: 28px;
    margin-right: 40px;
    overflow: hidden;

    @include media(">md") {
      width: 97px;
      height: 50px;
    }

    svg {
      width: 168px;
      height: 50px;
      fill: currentColor;
      transition: all 0.5s ease;
    }
  }

  .spacer {
    flex-grow: 999;
  }

  .white-paper-link,
  .lang-switcher {
    display: none;
    margin-right: 10px;

    @include media(">xl") {
      display: block;
    }
  }

  .lang-switcher {
    @include media(">ul") {
      margin-right: -20px;
    }

    a {
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }

    svg {
      margin-left: 10px;
      width: 18px;
      height: 18px;
      fill: currentColor;
    }
  }

  .hbg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    color: currentColor;
    position: relative;

    @include media("<ul") {
      display: block;
    }

    .line {
      width: 32px;
      height: 2px;
      background: currentColor;
      position: absolute;
      transition: all 0.3s ease;
      transform-origin: center;
      &:first-child {
        top: 11px;
      }
      &:nth-child(2) {
        top: 21px;
      }
    }
  }
}

.menu-open {
  overflow: hidden;

  nav .menu {
    position: absolute;
    display: block;
    z-index: 0;
    left: -16px;  
    right: -16px;
    top: $header-height;
    height: 100vh;

    @include media(">md") {
      top: $header-height-md;
    }

    @include media("<md", "landscape") {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      li {
        width: 50%;
      }
    }

    a {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: $body-lg-font-size;

      &:hover {
        background-color: $color-ui-white10;
      }
    }
  }

  header nav .menu .white-paper-list-link {
    display: block;
    margin-top: 30px;
    width: 100%;
    
    &:before {
      content: "";
      position: absolute;
      top: -15px;
      width: 100%;
      height: 1px;
      background-color: $color-ui-black10;
    }
  }

  .hbg {
    .line:first-child {
      transform: rotate(-45deg);
      top: 50%;
    }
    .line:nth-child(2) {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}


// 
// Sections
// 

main {
  overflow: hidden;

  > section {
    position: relative;
    z-index: 10;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;

    @include media(">lg") {
      padding-top: $section-padding-top-lg;
      padding-bottom: $section-padding-bottom-lg;
    }

    &.dark {
      color: $color-ui-white;
    }

    .scroll-detector {
      width: 1px;
      height: 1px;
      position: absolute;
      left: 50vw;
      top: 50vh;
      right: 50vw;
      bottom: 50vh;
      z-index: 999;
    }

    h2 {
      max-width: 600px;
    }
  }
}

.spt1 {
  padding-top: $section-padding-top;
  @include media(">lg") {
    padding-top: $section-padding-top-lg;
  }
}

.spb1 {
  padding-bottom: $section-padding-bottom;
  @include media(">lg") {
    padding-bottom: $section-padding-bottom-lg;
  }
}

.section-icon {
  margin-bottom: 60px;
}


//
// Hero section
// 

section.hero {
  height: 432px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: $section-padding-bottom * 1.25;

  @include media("<md", "landscape") {
    height: 352px;
  }

  @include media(">lg") {
    text-align: left;
    height: 592px;
    padding-bottom: $section-padding-bottom;
  }

  .hero-start {
    @include media(">lg") {
      max-width: 450px;
    }
  }
}


// 
// Featured video sections
// 

section.featured-video {
  background-color: $color-brand-night;

  .video-player {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .video-info {
    padding: 60px 30px 0;
    text-align: center;

    @include media(">lg") {
      padding-top: 0;
      text-align: left;
    }
  }

  h2.lg {
    font-weight: $font-weight-bold;
  }

  .subject-name {
    margin-bottom: 0;
  }

  .subject-title {
    color: $color-ui-white40;
  }

  .quote {
    position: relative;
    max-width: 396px;
    margin-left: 40px;
    margin-top: 100px;
    font-weight: $font-weight-light;

    @include media("<sm") {
      display: none;
    }

    &:before {
      content: "“";
      font-size: 8.0rem;
      color: $color-ui-white20;
      position: absolute;
      top: -40px;
      left: -40px;
    }

    &:after {
      content: "”";
      font-size: 8.0rem;
      color: $color-ui-white20;
      position: absolute;
      bottom: -60px;
      right: -40px;
    }
  }
}


// 
// Highlights
// 

section.highlights {
  .highlight {
    margin-top: 30px;
    margin-bottom: 30px;

    @include media(">md") {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .wrapper {
      max-width: 300px;
    }
  }

  .highlight-icon {
    margin-bottom: 30px;

    @include media(">md") {
      margin-bottom: 60px;
    }

    svg {
      fill: currentColor;
    }
  }
}


// 
// Page-specific colors
// 

.vision {
  > header {
    background-color: $color-brand-green;
  }
  &.menu-open .menu {
    background-color: $color-brand-green;
  }
  section.hero {
    background-color: $color-brand-green;
    color: $color-ui-white;
  }
  .highlight-icon {
    color: $color-brand-green;
  }
}


//
// Subscribe
//

section.subscribe {
  background-color: $color-brand-day;

  // Send In Blue styles
  #error-message {
    color: $color-ui-red;
  }
  #success-message {
    color: $color-ui-green;
  }
  .input--hidden {
    display: none;
  }
  .sib-form-message-panel {
    display: none;
  }
  .sib-form-message-panel--active {
    display: block;
  }
  .entry__error {
    position: absolute;
    top: 100%;
    font-size: $note-font-size;
    line-height: $note-line-height;
    color: $color-ui-red;
    margin-top: $form-control-padding-vertical;
  }
}


// 
// Footer
// 

.footer {
  background-color: $color-ui-white;
  color: $color-ui-default;
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  @include media(">lg") {
    padding-top: $section-padding-top-lg;
    padding-bottom: $section-padding-bottom-lg;
  }

  .footer-logo {
    margin-bottom: 20px;

    @include media(">md") {
      margin-bottom: 50px;
    }
  }

  .brand {
    display: block;
    color: $color-ui-black;
    width: 168px;
    height: 28px;
    margin-bottom: 60px;
    overflow: hidden;

    @include media(">md") {
      width: 97px;
      height: 50px;
    }

    svg {
      width: 168px;
      height: 50px;
      fill: currentColor;
      transition: all 0.5s ease;
    }
  }

  h3 {
    font-weight: $font-weight-light;

    em {
      display: block;
    }
  }

  .footer-menu {
    margin-bottom: 60px;

    @include media(">md") {
      margin-bottom: 90px;
    }
  }

  .menu {
    display: block;
    list-style: none;
    padding: 0;

    @include media(">sm") {
      columns: 2;
    }

    li {
      display: block;
      font-size: $body-lg-font-size;
      line-height: $body-lg-line-height;
      margin-bottom: 24px;
    }

    a {
      display: block;
      color: $color-ui-white;
      text-decoration: none;
      color: $color-ui-black40;

      &:hover {
        color: $color-ui-default;
      }

      svg {
        fill: currentColor;
        margin-right: 5px;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: space-between;

    @include media(">sm") {
      justify-content: flex-end;
    }
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: $color-ui-black20;

    @include media(">sm") {
      margin-left: $grid-gutter;
    }

    svg {
      fill: currentColor;
    }
  }

  .logos {
    display: flex;
    justify-content: flex-end;
  }
}

