//
// General
//

* {
  box-sizing: border-box;
}

body {
  background-color: map-get($brand-colors, day);
}


// 
// Margin helpers
//

.mtg1 {
  margin-top: $grid-gutter;
}

.mbg1 {
  margin-bottom: $grid-gutter;
}

.mvg1 {
  margin-top: $grid-gutter;
  margin-bottom: $grid-gutter;
}


//
// Header
//

body > header {
  position: fixed;
  width: 100%;
  z-index: $zindex-sticky;

  @include brand-background-variations;

  a {
    color: $color-ui-black;
  }

  .row {
    align-items: center;
    height: $header-height;
    align-items: stretch;

    @include media(">md") {
      height: $header-height-md;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      list-style: none;
      display: none;
      padding: 0;
      transition: all 0.5s ease;

      @include media(">ul") {
        display: flex;
      }

      li {
        position: relative;
      }

      a {
        display: block;
        padding: 20px;
        color: $color-ui-black60;
        text-decoration: none;

        &:hover {
          color: $color-ui-black;
          text-decoration: none;
        }
      }

      li.active a {
        color: $color-ui-black;
      }

      .white-paper-list-link {
        display: none;
      }
    }
  }

  &.dark {
    color: $color-ui-white;

    a {
      color: $color-ui-white;
    }

    nav {
      .menu {
        a {
          color: $color-ui-white60;

          &:hover {
            color: $color-ui-white;
          }
        }

        li.active a {
          color: $color-ui-white;
        }
      }
    }
  }

  .brand {
    position: relative;
    z-index: $zindex-sticky;
    box-sizing: content-box;
    display: block;
    width: 168px;
    height: 28px;
    margin-right: 40px;
    overflow: hidden;

    @include media(">md") {
      width: 97px;
      height: 50px;
    }

    svg {
      width: 168px;
      height: 50px;
      fill: currentColor;
      transition: all 0.5s ease;
    }
  }

  .spacer {
    flex-grow: 999;
  }

  .white-paper-link,
  .lang-switcher {
    display: none;
    margin-right: 10px;

    @include media(">xl") {
      display: block;
    }
  }

  .lang-switcher {
    @include media(">ul") {
      margin-right: -20px;
    }

    > a {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      background-color: transparent;
    }

    svg {
      margin-left: 10px;
      width: 18px;
      height: 18px;
      fill: currentColor;
    }
  }

  .hbg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    color: currentColor;
    position: relative;

    @include media("<ul") {
      display: block;
    }

    .line {
      width: 32px;
      height: 2px;
      background: currentColor;
      position: absolute;
      transition: all 0.3s ease;
      transform-origin: center;
      &:first-child {
        top: 11px;
      }
      &:nth-child(2) {
        top: 21px;
      }
    }
  }
}

.menu-open {
  overflow: hidden;

  nav .menu {
    position: absolute;
    display: block;
    z-index: 0;
    left: -16px;  
    right: -16px;
    top: $header-height;
    height: 100vh;

    @include media(">md") {
      top: $header-height-md;
    }

    @include media("<md", "landscape") {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      li {
        width: 50%;
      }
    }

    a {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: $body-lg-font-size;

      &:hover {
        background-color: $color-ui-white10;
      }
    }
  }

  header nav .menu .white-paper-list-link {
    display: block;
    margin-top: 30px;
    width: 100%;
    
    &:before {
      content: "";
      position: absolute;
      top: -15px;
      width: 100%;
      height: 1px;
      background-color: $color-ui-black10;
    }
  }

  .hbg {
    .line:first-child {
      transform: rotate(-45deg);
      top: 50%;
    }
    .line:nth-child(2) {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}

@include menu-themes;


// 
// Sections
// 

main {
  overflow: hidden;

  > section {
    position: relative;
    z-index: 10;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;

    @include media(">lg") {
      padding-top: $section-padding-top-lg;
      padding-bottom: $section-padding-bottom-lg;
    }

    @include brand-background-variations;

    &.dark {
      color: $color-ui-white;
    }

    .scroll-detector {
      width: 1px;
      height: 1px;
      position: absolute;
      left: 50vw;
      top: 50vh;
      right: 50vw;
      bottom: 50vh;
      z-index: 999;
    }

    @include media("<sm") {
      .section-icon {
        text-align: center;
        margin-bottom: 30px;
      }

      h2 {
        max-width: 600px;
        text-align: center;
      }

      .col > blockquote {
        text-align: center;
        max-width: none;
      }
    }
  }
}

.spt1 {
  padding-top: $section-padding-top;
  @include media(">lg") {
    padding-top: $section-padding-top-lg;
  }
}

.spb1 {
  padding-bottom: $section-padding-bottom;
  @include media(">lg") {
    padding-bottom: $section-padding-bottom-lg;
  }
}

.section-icon {
  margin-bottom: 60px;
}


//
// Card
// 

.card {
  color: $color-ui-default;
  border-radius: 2px;

  > a {
    text-decoration: none;
    color: $color-ui-default;
    height: 100%;
    padding: 15px 30px 30px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;

    @include media(">md") {
      padding-bottom: 55px;
    }

    @include media(">lg") {
      padding-bottom: 60px;
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: map-get($brand-colors, white);
      left: 0;
      top: 0;
      z-index: -1;
      transition: all 0.3s ease;
    }

    &:hover .bg {
      width: calc(100% + 30px);
      height:  calc(100% + 30px);
      top: -15px;
      left: -15px;
    }
  }

  h3 {
    font-weight: $font-weight-regular;
  }

  blockquote,
  .description {
    font-size: $body-md-font-size;
    line-height: $body-md-line-height;
  }

  blockquote {
    padding-left: 20px;

    &:before {
      width: 1px;
      background-color: $color-ui-black40;
    }
  }

  .spacer {
    flex-grow: 999;
  }

  .cta-to {
    opacity: 0.6;
    width: 140px;
    height: 32px;
    line-height: 1;
    border-bottom: 1px solid currentColor;
    display: flex;
    justify-content: space-between;
  }
}

section.dark .card,
.card.dark {
  > a {
    color: $color-ui-white;
  }

  blockquote {
    &:before {
      background-color: $color-ui-white20;
    }
  }
}


//
// Hero section
// 

section.hero {
  height: 432px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-top: $header-height + 30px;
  padding-bottom: $section-padding-bottom * 1.25;

  @include media("<md", "landscape") {
    height: 352px;
  }

  @include media(">lg") {
    text-align: left;
    height: 592px;
    padding-bottom: $section-padding-bottom;
  }

  .hero-start {
    @include media(">lg") {
      // max-width: 450px;
    }
  }
}


// 
// Featured video sections
// 

section.featured-video {
  background-color: map-get($brand-colors, night);

  .video-player {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    background-color: map-get($brand-colors, evening);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .video-info {
    padding: 60px 30px 0;
    text-align: center;

    @include media(">lg") {
      padding-top: 0;
      text-align: left;
    }
  }

  h2.lg {
    font-weight: $font-weight-bold;
  }

  .subject-name {
    margin-bottom: 0;
  }

  .subject-title {
    color: $color-ui-white40;
  }

  .quote {
    position: relative;
    max-width: 396px;
    margin-left: 40px;
    margin-top: 100px;
    font-weight: $font-weight-light;

    @include media("<sm") {
      display: none;
    }

    &:before {
      content: "“";
      font-size: 8.0rem;
      color: $color-ui-white20;
      position: absolute;
      top: -40px;
      left: -40px;
    }

    &:after {
      content: "”";
      font-size: 8.0rem;
      color: $color-ui-white20;
      position: absolute;
      bottom: -60px;
      right: -40px;
    }
  }
}


// 
// Contributors
// 

section.contributors {
  .contributor {
    margin-top: 30px;
    margin-bottom: 30px;
    color: $color-ui-black60;

    @include media(">md") {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  .contributor-logo {
    margin-bottom: 30px;
  }

  .contributor-cta {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card {
    height: 340px;
    background-color: map-get($brand-colors, white);
    position: relative;

    a {
      @include media(">ul") {
        padding-top: 30px;
        padding-left: calc(100% / 6);
      }
    }

    h3 {
      margin-bottom: 20px;

      em {
        font-weight: $font-weight-bold;
      }
    }

    .description {
      max-width: 300px;
    }
  }
}


// 
// Resources
// 

section.resources {
  .resource-cta {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .resource-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {
    height: 340px;
    background-color: map-get($brand-colors, white);
    position: relative;

    a {
      @include media(">ul") {
        padding-top: 30px;
        padding-left: calc(100% / 6);
      }
    }

    h3 {
      margin-bottom: 20px;
      max-width: 300px;
    }
  }
}


// 
// FAQ
//

section.faq {
  .faq-q {
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    color: $color-ui-black60;
    transition: all 0.3s ease;

    &:hover,
    &.active {
      color: $color-ui-black;
    }

    .col {
      padding-left: 40px;

      @include media(">lg") {
        padding-left: 60px;
      }
    }

    .toggle {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 5px;
      transform: scale(0.75);

      .bar {
        position: absolute;
        width: 15px;
        height: 3px;
        border-radius: 1px;
        background-color: currentColor;
        top: 50%;

        &:first-child {
          transform: rotate(30deg);
          left: 1.5px;
        }
        &:nth-child(2) {
          transform: rotate(-30deg);
          left: 14px;
        }
      }

      @include media(">lg") {
        left: $grid-gutter / 2;

        .toggle {
          transform: scale(1);

          .bar {
            height: 2px;
          }
        }
      }
    }

    h3 {
      font-weight: $font-weight-regular;
      margin-bottom: 0;
    }
  }

  .faq-a {
    background-color: $color-ui-white;
    margin-bottom: 0;
    overflow: hidden;

    .col {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 65px;
      padding-right: 30px;

      @include media(">lg") {
        padding-left: 85px;
      }
    }
  }

  .faq-q.active + .faq-a {
    margin-bottom: 70px;
    height: auto;
  }
}


// 
// Highlights
// 

section.highlights {
  background-color: map-get($brand-colors, day);

  .highlight {
    margin-top: 30px;
    margin-bottom: 30px;

    @include media(">md") {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .wrapper {
      max-width: 300px;
    }
  }

  .highlight-icon {
    margin-bottom: 30px;

    @include media(">md") {
      margin-bottom: 60px;
    }

    svg {
      fill: currentColor;
    }
  }
}


// 
// Page-specific layout and colors
// 

body.home {
  section.hero {
    height: 100vh;
    min-height: 432px;
    align-items: stretch;
    align-content: space-between;
    text-align: left;

    @include media(">lg") {
      align-items: flex-end;
      min-height: 768px;
    }

    @include media(">ul") {
      padding-bottom: 200px;
    }
  }
}

body.vision {
  p a {
    color: map-get($brand-colors, green);
  }
  .highlight-icon {
    color: map-get($brand-colors, green);
  }
}


//
// Subscribe
//

section.subscribe {
  background-color: $color-ui-white;

  h2 {
    margin-bottom: 60px;
  }

  // Send In Blue styles
  #error-message {
    color: $color-ui-red;
    margin-bottom: 30px;
  }
  #success-message {
    color: $color-ui-green;
    margin-bottom: 30px;
  }
  .input--hidden {
    display: none;
  }
  .sib-form-message-panel {
    display: none;
  }
  .sib-form-message-panel--active {
    display: block;
  }
  .entry__error {
    position: absolute;
    left: 0;
    top: 0;
    font-size: $note-font-size;
    line-height: $note-line-height;
    color: $color-ui-red;
    margin-top: $form-control-padding-vertical;

    @include text-hide;
  }
}


//
// Subscribe
//

section.closer-look {
  @include media("<sm") {
    h2 {
      display: none;
    }
  }

  .carousel-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media("<sm") {
      display: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    cursor: pointer;
    color: $color-ui-black60;

    &:hover {
      color: $color-ui-black;
    }

    svg {
      fill: currentColor;
    }
  }

  .swiper-button-prev {
    margin-right: 30px;
    svg {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  .swiper-button-disabled {
    color: $color-ui-black20;
    cursor: not-allowed;

    &:hover {
      color: $color-ui-black20;
    }
  }

  .carousel {
    margin-top: 60px;
    padding-left: 45px;
    padding-right: 45px;

    @include media(">ul") {
      padding-left: calc((100% - 30px) / 12 + 45px);
      padding-right: calc((100% - 30px) / 12 + 45px);
    }
  }

  .card {
    width: 200px;
    height: 265px;
    @include brand-background-variations;

    @include media(">md") {
      width: 300px;
      height: 370px;
    }

    @include media(">lg") {
      width: 400px;
      height: 475px;
    }

    blockquote {
      max-width: 230px;

      @include media("<md") {
        display: none;
      }
    }
  }
}


// 
// Footer
// 

.footer {
  background-color: $color-ui-white;
  color: $color-ui-default;
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  @include media(">lg") {
    padding-top: $section-padding-top-lg;
    padding-bottom: $section-padding-bottom-lg;
  }

  .footer-logo {
    margin-bottom: 20px;

    @include media(">md") {
      margin-bottom: 50px;
    }
  }

  .brand {
    display: block;
    color: $color-ui-black;
    width: 168px;
    height: 28px;
    margin-bottom: 60px;
    overflow: hidden;

    @include media(">md") {
      width: 97px;
      height: 50px;
    }

    svg {
      width: 168px;
      height: 50px;
      fill: currentColor;
      transition: all 0.5s ease;
    }
  }

  h3 {
    font-weight: $font-weight-light;

    em {
      display: block;
    }
  }

  .footer-menu {
    margin-bottom: 60px;

    @include media(">md") {
      margin-bottom: 90px;
    }
  }

  .menu {
    display: block;
    list-style: none;
    padding: 0;

    @include media(">sm") {
      columns: 2;
    }

    li {
      display: block;
      font-size: $body-lg-font-size;
      line-height: $body-lg-line-height;
      margin-bottom: 24px;
    }

    a {
      display: block;
      color: $color-ui-white;
      text-decoration: none;
      color: $color-ui-black40;

      &:hover {
        color: $color-ui-default;
      }

      svg {
        fill: currentColor;
        margin-right: 5px;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: space-between;

    @include media(">sm") {
      justify-content: flex-end;
    }
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: $color-ui-black20;

    @include media(">sm") {
      margin-left: $grid-gutter;
    }

    svg {
      fill: currentColor;
    }
  }

  .logos {
    display: flex;
    justify-content: flex-end;
  }
}

