html {
  font-size:  62.5%;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $body-md-font-size;
  font-weight: $body-md-font-weight;
  font-family: $base-font-family;
  line-height: $body-md-line-height;
  letter-spacing: $body-md-letter-spacing;
  font-feature-settings: $base-font-features;
  color: $color-ui-default;
}

a {
  text-decoration: none;
  color: $color-ui-action;
  transition: $form-control-transition;

  &:hover {
    color: darken($color-ui-action, 20%);
    text-decoration: underline;
  }
}

strong, bold {
  font-weight: $font-weight-bold;
}

::selection {
  background: map-get($brand-colors, purple);
  color: $color-ui-white;
}

//
// Brand text colors
//

@include brand-text-variations;


//
// Headings
//

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  margin-bottom: $h1-margin-bottom;
  letter-spacing: $h1-letter-spacing;

  @include media("<md") {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    font-weight: $h2-font-weight;
    margin-bottom: $h2-margin-bottom;
    letter-spacing: $h2-letter-spacing;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height; 
  font-weight: $h2-font-weight; 
  margin-bottom: $h2-margin-bottom; 
  letter-spacing: $h2-letter-spacing; 

  @include media("<md") {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin-bottom: $h3-margin-bottom;
    letter-spacing: $h3-letter-spacing;
  }
}

h3, .h3,
h4, .h4 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
  margin-bottom: $h3-margin-bottom;
  letter-spacing: $h3-letter-spacing;
}


//
// Paragraphs
//

p, .p {
  font-size: $body-md-font-size;
  line-height: $body-md-line-height;
  font-weight: $body-md-font-weight;
  margin-bottom: $body-md-margin-bottom;
  letter-spacing: $body-md-letter-spacing;

  &:last-of-type {
    margin-bottom: 0;
  }
}

form {
  p, .p {
    margin-bottom: $body-md-line-height;

    &:last-of-type {
      margin-bottom: $body-md-line-height;
    }
  }
}

.lg {
  @include media(">md") {
    font-size: $body-lg-font-size;
    line-height: $body-lg-line-height;
    font-weight: $body-lg-font-weight;
    margin-bottom: $body-lg-margin-bottom;
    letter-spacing: $body-lg-letter-spacing;
  }
}

small, .small {
  font-size: $body-sm-font-size;
  line-height: $body-sm-line-height;
  font-weight: $body-sm-font-weight;
  margin-bottom: $body-sm-margin-bottom;
  letter-spacing: $body-sm-letter-spacing;
}

.note {
  font-size: $note-font-size;
  line-height: $note-line-height;
  font-weight: $note-font-weight;
  margin-bottom: $note-margin-bottom;
  letter-spacing: $note-letter-spacing;
}

em {
  font-style: italic;
}

sup {
  font-size: $note-font-size;
  font-weight: $font-weight-medium;
  line-height: 1;
  vertical-align: 4px;

  .footnote-ref {
    padding: 0 2px;
    display: inline-block;

    &:before {
      content: "[";
    }

    &:after {
      content: "]";
    }
  }
}


//
// Blockquote
//

blockquote,
.blockquote {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  position: relative;
  max-width: 360px;

  @include media(">md") {
    padding-left: 32px;

    &:before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: $color-ui-black10;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.dark {
  blockquote,
  .blockquote {
    @include media(">md") {
    &:before {
      background-color: $color-ui-white20;
    }
  }
  }
}


//
// Lists
//

ul, ol {
  margin-bottom: $body-md-margin-bottom;
  list-style-position: outside;
  padding-left: $body-md-font-size;

  ul, ol {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc;

  ul {
    list-style: square;
  }
}

ol {
  list-style: decimal;
}

.content {
  ul, ol {
    margin-left: $grid-gutter * 2;
  }

  ol {
    list-style-type: decimal;
    counter-reset: item;

    li{
      display: block;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }

      h2, h3, h4, h5, h6 {
        display: inline-block;
        font-size: $body-md-font-size;
        font-weight: $body-md-font-weight;
      }
    }
  }
}


// 
// Tables
//

table {
  width: 100%;
  margin-bottom: $grid-gutter;
  table-layout: fixed;

  th, td {
    padding: $form-control-padding-vertical $form-control-padding-horizontal;
    border: 1px solid $color-ui-black60;
  }
  th {
    text-align: left;
    font-weight: $font-weight-bold;
  }
}


//
// Horizontal rule
//

hr {
  height: 0;
  border: none;
  border-bottom: $base-border-style;
  margin-top: $section-padding-top;
  margin-bottom: $section-padding-bottom;

  @include media(">lg") {
    margin-top: $section-padding-top-lg;
    margin-bottom: $section-padding-bottom-lg;
  }
}


//
// Text Helpers
//

.text-center {
  text-align: center;
}

.text-monospace {
  font-family: $monospace-font-family;
  font-feature-settings: $monospace-font-features;
}


//
// Reveal effects
//

[data-scroll]:not(section) {
  transition: opacity 1s ease;
  transition-delay: 0.2s;
  opacity: 0;

  &.scroll-hidden {
    opacity: 0;
  }

  &.scroll-visible {
    opacity: 1;
  }
}


//
// Whitepaper typography
// 

section.white-paper {
  h2, .h2 {
    margin-bottom: $h2-margin-bottom / 2;
  }

  h3, .h3,
  h4, .h4 {
    margin-bottom: $h3-margin-bottom / 2;
  }

  p, .p {
    margin-bottom: $body-md-line-height;

    &:last-of-type {
      margin-bottom: inherit;
    }
  }

  ul, ol {
    padding-left: $grid-gutter * 1.5;
    padding-right: $grid-gutter * 1.5;
    margin-bottom: $body-md-line-height;
  }

  hr {
    margin-top: $section-padding-top / 2;
    margin-bottom: $section-padding-bottom / 2;

    @include media(">lg") {
      margin-top: $section-padding-top-lg / 2;
      margin-bottom: $section-padding-bottom-lg / 2;
    }
  }

  code {
    font-size: $body-sm-font-size;
    font-family: $monospace-font-family;
    background-color: map-get($brand-colors, paper);
    border-radius: $base-border-radius;
    border: $base-border-style;
    padding: 2px 4px;
  }

  pre {
    margin-bottom: $body-md-line-height;
    white-space: pre-wrap;
    background-color: map-get($brand-colors, paper);
    border-radius: $base-border-radius;
    border: $base-border-style;
    padding: 4px 8px;

    code {
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}