// Web fonts must be declared first
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400&display=swap');

// Vendors libraries
@import "../../node_modules/include-media/dist/include-media";

// Base
@import "variables";
@import "mixins";
@import "reset";

// Site styles
@import "utilities";
@import "grid";
@import "type";
@import "buttons";
@import "form";
@import "layout";
@import "spinner";

// Vendor styles
@import "swiper/swiper";
@import "parsley/parsley";