<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="bounty">

  {{ partial "header.html" . }}

  <main>

    <section class="hero day" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div id="{{ $.Param "content.sections.hero.name" }}" class="col col-lg-6 col-xl-5 offset-xl-1">
            <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            <div class="hero-ctas">
              <a href="#submission" class="btn">
                {{ $.Params.content.sections.hero.cta.label }}
              </a>
              <a href="#participation" class="btn btn-plain">
                {{ $.Params.content.sections.hero.sub_cta.label }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-art">
        {{ readFile "/static/svg/bounty-poster.svg" | safeHTML }}
      </div>
    </section>

    <section class="leaderboard paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-9 col-ul-8 offset-ul-1 mbg1">
            <h2>{{ $.Params.content.sections.leaderboard.headline }}</h2>
            <p class="lg">{{ $.Params.content.sections.leaderboard.subhead }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-ul-10 offset-ul-1">
            {{ range $i, $hunter := $.Params.content.sections.leaderboard.hunters }}
              <div class="hunter card">
                <div class="row">
                  <div class="col col-1 col-lg-1 hunter-rank h4">{{ add $i 1 }}</div>
                  <div class="col col-2 col-lg-1 hunter-pic">
                    <img alt="{{ $hunter.name }}" width="40" height="40" src="https://avatars2.githubusercontent.com/{{ $hunter.github }}?v=3&amp;s=48" srcset="https://avatars2.githubusercontent.com/{{ $hunter.github }}?v=3&amp;s=48 1x, https://avatars2.githubusercontent.com/{{ $hunter.github }}?v=3&amp;s=96 2x, https://avatars2.githubusercontent.com/{{ $hunter.github }}?v=3&amp;s=144 3x">
                  </div>
                  <div class="col col-9 col-lg-4 hunter-info">
                    <h3 class="h4">{{ $hunter.name }}</h3>
                    <div class="hunter-github">
                      <a href="https://github.com/{{ $hunter.github }}" target="_blank">{{ $hunter.github }}</a>
                    </div>
                  </div>
                  <div class="col col-lg-6 hunter-bounties">
                    <ul>
                      {{ $bountiesValueDFI := 0 }}
                      {{ $bountiesValueUSD := 0 }}
                      {{ range $bounty := $hunter.bounties }}
                      {{ $bountiesValueDFI = add $bountiesValueDFI $bounty.value_dfi }}
                      {{ $bountiesValueUSD = add $bountiesValueUSD $bounty.value_usd }}
                      <li class="row">
                        <div class="col col-md-6 bounty-title">{{ $bounty.title }}</div>
                        <div class="col col-md-6 bounty-value">{{ lang.NumFmt 0 $bounty.value_dfi }} DFI <span class="bounty-value-usd">{{ lang.NumFmt 0 $bounty.value_usd }} USD</span></div>
                        {{ with $bounty.txid }}
                        <a href="https://explorer.defichain.com/#/DFI/mainnet/tx/{{ $bounty.txid }}" class="bounty-txid" target="_blank">
                          {{ readFile "/static/svg/icons/icon-txid.svg" | safeHTML }}
                        </a>
                        {{ end }}
                      </li>
                      {{ end }}
                      <li class="row">
                        <div class="col col-md-6 bounty-title">{{ $.Params.content.sections.leaderboard.total_bounty }}</div>
                        <div class="col col-md-6 bounty-value">{{ lang.NumFmt 0 $bountiesValueDFI }} DFI <span class="bounty-value-usd">{{ lang.NumFmt 0 $bountiesValueUSD }} USD</span></div>
                      </li>
                    </ul>
                  </div>
                  <div class="bg"></div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="section-slope paper">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="participation" class="participation day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-9 col-ul-8 offset-ul-1 mbg1">
            <h2>{{ $.Params.content.sections.participation.headline }}</h2>
            <p>{{ $.Params.content.sections.participation.description.p1 | markdownify }}</p>
            <p>{{ $.Params.content.sections.participation.description.p2 | markdownify }}</p>
            <p>{{ $.Params.content.sections.participation.description.p3 | markdownify }}</p>
          </div>
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="submission" class="submission white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-9 col-ul-8 offset-ul-1 mbg1">
            <h2>{{ $.Params.content.sections.submission.headline }}</h2>
            <p>{{ $.Params.content.sections.submission.description.p1 | markdownify }}</p>
            <p>{{ $.Params.content.sections.submission.description.p2 | markdownify }}</p>
            <ul>
              {{ range $li := $.Param "content.sections.submission.description.list" }}
              <li>{{ $li | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div class="section-slope reverse white">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

  </main>

  {{ partial "footer.html" . }}
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $parsley := resources.Get "js/parsley.min.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $claim := resources.Get "js/claim.js" }}
  {{ $collapsible := resources.Get "js/collapsible.js" }}
  {{ $js := slice $scrolltrigger $slick $debouncedresize $parsley $main $collapsible $claim | resources.Concat "js/bundle-claim.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
</body>

</html>
