.throughputSmallSquare {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: spin 1s linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes fill {
  0% {
    fill: none;
  }

  100% {
    fill: red;
  }
}
