<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  {{ partial "favicons.html" . }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="downloads">

  {{ partial "header.html" . }}

  <main>

    <section class="hero white" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div id="{{ $.Param "content.sections.hero.name" }}" class="col col-lg-6 col-xl-5 offset-xl-1">
            <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
            <p class="lg">{{ $.Param "content.sections.hero.subhead" }}</p>
          </div>
        </div>
      </div>
      {{ partial "hero-art.html" . }}
    </section>

    <section class="downloads paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.downloads.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              {{ range $download := $.Param "content.sections.downloads.downloads_list" }}
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <div>
                    <div class="resource-image">
                      {{ with eq $download.image.type "svg" }}
                      {{ readFile $download.image.path | safeHTML }}
                      {{ else }}
                      <img
                        src="{{ $download.image.path }}" alt="{{ $download.title }}"
                        {{ with $download.image.dimensions }}
                          width="{{ index $download.image.dimensions 0 }}"
                          height="{{ index $download.image.dimensions 1 }}"
                        {{ end }}
                      >
                      {{ end }}
                    </div>
                    <h3 class="h4">{{ $download.title }}</h3>
                    <div class="mbg1">{{ $download.description | markdownify }}</div>
                    <div class="spacer"></div>
                    <div class="resource-links">
                      {{ range $link := $download.links }}
                        <a href="{{ $link.url }}" class="download-{{ lower $download.type }}-{{ $link.type }}" target="_blank">
                          {{ with $link.image }}
                          {{ readFile $link.image | safeHTML }}
                          {{ else }}
                          {{ $link.label }}
                          {{ end }}
                        </a>
                      {{ end }}
                    </div>
                    <div class="bg"></div>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope paper reverse">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $slick $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
  {{ partial "pixels/twitter.html" . }}
</body>

</html>