<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="partners">

  {{ partial "header.html" . }}

  <main>

    <section class="hero dark night"
      data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="contributors">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.contributors.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $contributor := $.Param "content.sections.contributors.contributors_list" }}
              <div class="contributor col col-sm-6 col-md-4" data-scroll="once">
                <div class="contributor-logo">
                  <a href="{{ $contributor.url }}" target="_blank">
                    {{ readFile $contributor.logo  | safeHTML }}
                  </a>
                </div>
                <p>{{ $contributor.description }}</p>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.contributors.become_developer.cta.url" | relLangURL }}">
                    <h3 data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_developer.headline" | markdownify }}</h3>
                    <p class="description" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_developer.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="cta-to" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_developer.cta.label" }}
                      <span>&#10142;</span>
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="#partnering">
                    <h3 data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_partner.headline" | markdownify }}
                    </h3>
                    <p class="description" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_partner.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="cta-to" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_partner.cta.label" }}
                      <span>&#10142;</span>
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="defi-blockchain featured-video dark" id="{{ $.Param "content.sections.featured-video.name" }}">
      <div class="container-flush">
        <div class="row">
          <div class="col col-lg-6">
            <div class="video-player" data-scroll="once">
              <div id="player-embed"></div>
              <script>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                  player = new YT.Player('player-embed', {
                    height: '390',
                    width: '640',
                    videoId: '{{ $.Param "content.sections.featured-video.video" }}',
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    },
                    playerVars: {
                      controls: 0,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      showinfo: 0
                    }
                  });
                }
                function onPlayerReady(event) {
                  // play and pause
                }
                var done = false;
                function onPlayerStateChange(event) {
                  if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000);
                    done = true;
                  }
                }
                function stopVideo() {
                  player.stopVideo();
                }
              </script>
            </div>
          </div>
          <div class="col col-lg-6">
            <div class="video-info" data-scroll="once">
              <h2 class="lg">{{ $.Param "content.sections.featured-video.headline" }}</h2>
              <div class="subject-name small">
                {{ $.Param "content.sections.featured-video.subject_name" | markdownify }}</div>
              <div class="subject-title small">
                {{ $.Param "content.sections.featured-video.subject_title" }}</div>
              <div class="quote lg">
                {{ $.Param "content.sections.featured-video.quote" | markdownify }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="partnering" class="partnering day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.partnering.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.partnering.subhead" }}</p>
          </div>
        </div>
      </div>
      <div class="contributor-form container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-ul-4 offset-ul-1">
            <!-- Begin Sendinblue Form -->
            <!-- START - We recommend to place the below code where you want the form in your website html  -->
            <div class="sib-form" data-scroll="once">
              <div id="sib-form-container" class="sib-form-container">
                <div id="error-message" class="sib-form-message-panel">
                  <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <span class="sib-form-message-panel__inner-text">
                      {{ $.Param "content.sections.partnering.form.messages.error.general" }}
                    </span>
                  </div>
                </div>
                <div id="success-message" class="sib-form-message-panel">
                  <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <span class="sib-form-message-panel__inner-text">
                      {{ $.Param "content.sections.partnering.form.messages.success" }}
                    </span>
                  </div>
                </div>
                <div id="sib-container" class="sib-container--medium sib-container--horizontal">
                  <form id="sib-form" method="POST"
                    action="https://sibforms.com/serve/MUIEAE0x1jniU33OoR58BaTGHQYAGydSFvUjiSDfpmnsSFHue9L3HsAyZlwziCzdNKS-2kW_xeRVHgaxY75pM8YaHTXOUVtvjDhrjTGrtxNAnOmRwmp5PxxEySBHUgXDTZ2OrRJkO9785qgDWaonjRFfLhmr3z-rPRxzpbaXLIwIA7TA9orOBahP1ebRoeGoCHhl51aWHVSnvCfI"
                    data-type="subscription">
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="text" id="NAME" name="NAME" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.name.placeholder" }}"
                        data-required="true" required />
                      <label for="NAME">{{ $.Param "content.sections.partnering.form.name.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="email" id="EMAIL" name="EMAIL" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.email.placeholder" }}"
                        data-required="true" required />
                      <label for="EMAIL">{{ $.Param "content.sections.partnering.form.email.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="text" id="COMPANY" name="COMPANY" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.company.placeholder" }}"
                        data-required="true" required />
                      <label for="COMPANY">{{ $.Param "content.sections.partnering.form.company.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <textarea rows="3" class="input" maxlength="500" id="COMMENT" name="COMMENT" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.comment.placeholder" }}"
                        data-required="true" required></textarea>
                      <label for="COMMENT">{{ $.Param "content.sections.partnering.form.comment.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <input type="text" name="email_address_check" value="" class="input--hidden">
                    <input type="hidden" name="locale" value="en">
                    <button class="btn" form="sib-form" type="submit">
                      <svg class="d-none"></svg>
                      {{ $.Param "content.sections.partnering.form.button.label" }}
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <!-- END - We recommend to place the below code where you want the form in your website html  -->
            <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
            <script>
              window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
              window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
              window.REQUIRED_ERROR_MESSAGE = "{{ $.Params.content.sections.roadmap.subscribe.messages.error.blank_field }}";
              window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
              window.translation = {
                common: {
                  selectedList: '{quantity} list selected',
                  selectedLists: '{quantity} lists selected'
                }
              };
              var AUTOHIDE = Boolean(0);
            </script>
            <script src="https://sibforms.com/forms/end-form/build/main.js">
            </script>
            <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
            <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
            <!-- End Sendinblue Form -->
          </div>
          <div class="col col-lg-6 col-ul-4 offset-ul-1">
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.partnering.or" | markdownify }}</p>
          </div>
        </div>
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
</body>

</html>