<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  {{ partial "favicons.html" . }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="partners">

  {{ partial "header.html" . }}

  <main>

    <section class="hero white" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      {{ partial "hero-art.html" . }}
    </section>

    <section class="contributors paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.contributors.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $contributor := $.Param "content.sections.contributors.contributors_list" }}
              <div class="contributor col col-sm-6 col-md-4">
                <div class="contributor-logo">
                  <a href="{{ $contributor.url }}" target="_blank">
                    {{ readFile $contributor.logo  | safeHTML }}
                  </a>
                </div>
                <p>{{ $contributor.description }}</p>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.contributors.become_developer.cta.url" | relLangURL }}">
                    <h3>
                      {{ $.Param "content.sections.contributors.become_developer.headline" | markdownify }}</h3>
                    <p class="description">
                      {{ $.Param "content.sections.contributors.become_developer.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.contributors.become_developer.cta.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="#partnering">
                    <h3>
                      {{ $.Param "content.sections.contributors.become_partner.headline" | markdownify }}
                    </h3>
                    <p class="description">
                      {{ $.Param "content.sections.contributors.become_partner.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $.Param "content.sections.contributors.become_partner.cta.label" }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope paper">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section class="partners resources paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.partners.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              {{ range $partner := $.Params.content.sections.partners.partners_list }}
              <div class="resource-cta col col-md-6">
                <div class="card">
                  <a href="{{ $partner.cta.url }}" target="_blank">
                    <div class="resource-image">
                      {{ with eq $partner.logo.type "svg" }}
                      <img src="{{ $partner.logo.file }}.svg" alt="{{ $partner.name }} logo">
                      {{ end }}
                      {{ with eq $partner.logo.type "png" }}
                      <img src="{{ $partner.logo.file }}.png" srcset="{{ $partner.logo.file }}.png 1x, {{ $partner.logo.file }}@2x.png 2x" alt="{{ $partner.name }} logo">
                      {{ end }}
                    </div>
                    <h3 class="h4">
                      {{ $partner.name }}
                    </h3>
                    <p>{{ $partner.description }}</p>
                    <div class="spacer"></div>
                    <div class="btn">
                      {{ $partner.cta.label }} {{ $partner.name }}
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope reverse paper">
        {{ readFile "/static/svg/section-slope-line.svg" | safeHTML }}
      </div>
    </section>
    
    <section class="defi-blockchain featured-video">
      <div class="container-flush">
        <div class="row">
          <div class="col col-lg-6">
            <div class="video-player">
              <div id="player-embed"></div>
              <script>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                  player = new YT.Player('player-embed', {
                    height: '390',
                    width: '640',
                    videoId: '{{ $.Param "content.sections.featured_video.video" }}',
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    },
                    playerVars: {
                      controls: 0,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      showinfo: 0
                    }
                  });
                }
                function onPlayerReady(event) {
                  // play and pause
                }
                var done = false;
                function onPlayerStateChange(event) {
                  if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000);
                    done = true;
                  }
                }
                function stopVideo() {
                  player.stopVideo();
                }
              </script>
            </div>
          </div>
          <div class="col col-lg-6">
            <div class="video-info">
              <h2 class="lg">{{ $.Param "content.sections.featured_video.headline" }}</h2>
              <div class="subject-name small">
                {{ $.Param "content.sections.featured_video.subject_name" | markdownify }}</div>
              <div class="subject-title small">
                {{ $.Param "content.sections.featured_video.subject_title" }}</div>
              <div class="quote lg">
                {{ $.Param "content.sections.featured_video.quote" | markdownify }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-partners-subscribe.html" . }}

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
  {{ partial "pixels/twitter.html" . }}
</body>

</html>