<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }}: {{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Param "meta.og.title" }}">
  <meta property="og:description" content="{{ $.Param "meta.og.description" }}">
  <meta property="og:site_name" content="{{ $.Param "meta.og.site_name" }}">
  <meta property="og:url" content="{{ $.Param "meta.og.url" }}">
  <meta property="og:image" content="{{ $.Param "meta.og.image" }}">
  <meta property="og:image:type" content="{{ $.Param "meta.og.image_type" }}">
  <meta property="og:locale" content="{{ $.Param "meta.og.locale" }}">
</head>

<body class="partners">

  {{ partial "header.html" . }}

  <main>

    <section id="{{ $.Param "content.sections.hero.name" }}" class="hero{{ with $.Param "theme.hero" }} {{.}}{{ end }}"
      data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="animation">
      <div class="container-fluid">
        <div class="row">
        </div>
      </div>
    </section>

    <section class="partnering{{ with $.Param "theme.partnering" }} {{.}}{{ end }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.partnering.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.partnering.subhead" }}</p>
          </div>
        </div>
      </div>
      <div class="contributor-form container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-ul-4 offset-ul-1">
            <!-- Begin Sendinblue Form -->
            <!-- START - We recommend to place the below code where you want the form in your website html  -->
            <div class="sib-form" data-scroll="once">
              <div id="sib-form-container" class="sib-form-container">
                <div id="error-message" class="sib-form-message-panel">
                  <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <span class="sib-form-message-panel__inner-text">
                      {{ $.Param "content.sections.partnering.form.messages.error.general" }}
                    </span>
                  </div>
                </div>
                <div id="success-message" class="sib-form-message-panel">
                  <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                    <span class="sib-form-message-panel__inner-text">
                      {{ $.Param "content.sections.partnering.form.messages.success" }}
                    </span>
                  </div>
                </div>
                <div id="sib-container" class="sib-container--medium sib-container--horizontal">
                  <form id="sib-form" method="POST"
                    action="https://sibforms.com/serve/MUIEAE0x1jniU33OoR58BaTGHQYAGydSFvUjiSDfpmnsSFHue9L3HsAyZlwziCzdNKS-2kW_xeRVHgaxY75pM8YaHTXOUVtvjDhrjTGrtxNAnOmRwmp5PxxEySBHUgXDTZ2OrRJkO9785qgDWaonjRFfLhmr3z-rPRxzpbaXLIwIA7TA9orOBahP1ebRoeGoCHhl51aWHVSnvCfI"
                    data-type="subscription">
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="text" id="NAME" name="NAME" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.name.placeholder" }}"
                        data-required="true" required />
                      <label for="NAME">{{ $.Param "content.sections.partnering.form.name.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="email" id="EMAIL" name="EMAIL" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.email.placeholder" }}"
                        data-required="true" required />
                      <label for="EMAIL">{{ $.Param "content.sections.partnering.form.email.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <input class="input" maxlength="200" type="text" id="COMPANY" name="COMPANY" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.company.placeholder" }}"
                        data-required="true" required />
                      <label for="COMPANY">{{ $.Param "content.sections.partnering.form.company.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <div class="form-field has-float-label form__entry entry_block">
                      <textarea rows="3" class="input" maxlength="500" id="COMMENT" name="COMMENT" autocomplete="off"
                        placeholder="{{ $.Param "content.sections.partnering.form.comment.placeholder" }}"
                        data-required="true" required></textarea>
                      <label for="COMMENT">{{ $.Param "content.sections.partnering.form.comment.label" }}</label>
                      <div class="entry__error entry__error--primary"></div>
                    </div>
                    <input type="text" name="email_address_check" value="" class="input--hidden">
                    <input type="hidden" name="locale" value="en">
                    <button class="btn" form="sib-form" type="submit">
                      <svg class="d-none"></svg>
                      {{ $.Param "content.sections.partnering.form.button.label" }}
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <!-- END - We recommend to place the below code where you want the form in your website html  -->
            <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
            <script>
              window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
              window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
              window.REQUIRED_ERROR_MESSAGE = "{{ $.Param "content.sections.roadmap.subscribe.messages.error.blank_field" }}";
              window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
              window.translation = {
                common: {
                  selectedList: '{quantity} list selected',
                  selectedLists: '{quantity} lists selected'
                }
              };
              var AUTOHIDE = Boolean(0);
            </script>
            <script src="https://sibforms.com/forms/end-form/build/main.js">
            </script>
            <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
            <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
            <!-- End Sendinblue Form -->
          </div>
        </div>
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>