<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }}: {{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Param "meta.og.title" }}">
  <meta property="og:description" content="{{ $.Param "meta.og.description" }}">
  <meta property="og:site_name" content="{{ $.Param "meta.og.site_name" }}">
  <meta property="og:url" content="{{ $.Param "meta.og.url" }}">
  <meta property="og:image" content="{{ $.Param "meta.og.image" }}">
  <meta property="og:image:type" content="{{ $.Param "meta.og.image_type" }}">
  <meta property="og:locale" content="{{ $.Param "meta.og.locale" }}">
</head>

<body class="token">

  {{ partial "header.html" . }}

  <main>

    <section id="{{ $.Param "content.sections.hero.name" }}" class="hero{{ with $.Param "theme.hero" }} {{.}}{{ end }}"
      data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="animation">
      <div class="container-fluid">
        <div class="row">
        </div>
      </div>
    </section>

    <section class="dfi-token{{ with $.Param "theme.dfi_token" }} {{.}}{{ end }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.dfi_token.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.dfi_token.subhead" }}</p>
          </div>
          <div class="col col-lg-7 col-ul-6 offset-ul-1">
            image
          </div>
        </div>
      </div>
    </section>

    <section class="stats{{ with $.Param "theme.stats" }} {{.}}{{ end }}" data-scroll data-scroll-showCallback="rollStats()">
      <div class="container-fluid">
        <div class="row">
          <div class="col offset-ul-1">
            <div class="stats-list row">
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="300">0</div>
                <div class="stat-code">ETH</div>
                <div class="stat-name">Ethereum</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="200">0</div>
                <div class="stat-code">DASH</div>
                <div class="stat-name">Dash</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="9000">0</div>
                <div class="stat-code">BTC</div>
                <div class="stat-name">Bitcoin</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="100">0</div>
                <div class="stat-code">XRP</div>
                <div class="stat-name">Ripple</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="external-link col col-md-6">
            <div class="card{{ with $.Param "theme.stats" }} {{.}}{{ end }}">
              <a href="{{ $.Param "content.sections.stats.links.pool.url" | relLangURL }}">
                {{ readFile $.Params.content.sections.stats.links.pool.image | safeHTML }}
                <h3 data-scroll="once">
                  {{ $.Param "content.sections.stats.links.pool.description" }}
                </h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $.Param "content.sections.stats.links.pool.name" }}
                  <span>
                    {{ readFile "/static/svg/icons/icon-external-link.svg" | safeHTML }}
                  </span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
          <div class="external-link col col-md-6">
            <div class="card{{ with $.Param "theme.stats" }} {{.}}{{ end }}">
              <a href="{{ $.Param "content.sections.stats.links.coinmarketcap.url" | relLangURL }}">
                {{ readFile $.Params.content.sections.stats.links.coinmarketcap.image | safeHTML }}
                <h3 data-scroll="once">
                  {{ $.Param "content.sections.stats.links.coinmarketcap.description" }}
                </h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $.Param "content.sections.stats.links.coinmarketcap.name" }}
                  <span>
                    {{ readFile "/static/svg/icons/icon-external-link.svg" | safeHTML }}
                  </span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="emission">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.emission.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.emission.subhead" }}</p>
          </div>
        </div>
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>