<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }}: {{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Param "meta.og.title" }}">
  <meta property="og:description" content="{{ $.Param "meta.og.description" }}">
  <meta property="og:site_name" content="{{ $.Param "meta.og.site_name" }}">
  <meta property="og:url" content="{{ $.Param "meta.og.url" }}">
  <meta property="og:image" content="{{ $.Param "meta.og.image" }}">
  <meta property="og:image:type" content="{{ $.Param "meta.og.image_type" }}">
  <meta property="og:locale" content="{{ $.Param "meta.og.locale" }}">
</head>

<body class="token">

  {{ partial "header.html" . }}

  <main>

    <section id="{{ $.Param "content.sections.hero.name" }}" class="hero{{ with $.Param "theme.hero" }} {{.}}{{ end }}"
      data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <div class="hero-start">
              <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="animation">
      <div class="container-fluid">
        <div class="row">
        </div>
      </div>
    </section>

    <section class="dfi-token{{ with $.Param "theme.dfi_token" }} {{.}}{{ end }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.dfi_token.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.dfi_token.subhead" }}</p>
          </div>
          <div class="col col-lg-7 col-ul-6 offset-ul-1">
            image
          </div>
        </div>
      </div>
    </section>

    <section class="stats{{ with $.Param "theme.stats" }} {{.}}{{ end }}" data-scroll data-scroll-showCallback="rollStats()">
      <div class="container-fluid">
        <div class="row">
          <div class="col offset-ul-1">
            <div class="stats-list row">
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="300">0</div>
                <div class="stat-code">ETH</div>
                <div class="stat-name">Ethereum</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="200">0</div>
                <div class="stat-code">DASH</div>
                <div class="stat-name">Dash</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="9000">0</div>
                <div class="stat-code">BTC</div>
                <div class="stat-name">Bitcoin</div>
              </div>
              <div class="stat col-lg-3">
                <div class="stat-value" data-target-value="100">0</div>
                <div class="stat-code">XRP</div>
                <div class="stat-name">Ripple</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="external-link col col-md-6">
            <div class="card{{ with $.Param "theme.stats" }} {{.}}{{ end }}">
              <a href="{{ $.Param "content.sections.stats.links.pool.url" | relLangURL }}">
                {{ readFile $.Params.content.sections.stats.links.pool.image | safeHTML }}
                <h3 data-scroll="once">
                  {{ $.Param "content.sections.stats.links.pool.description" }}
                </h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $.Param "content.sections.stats.links.pool.name" }}
                  <span>
                    {{ readFile "/static/svg/icons/icon-external-link.svg" | safeHTML }}
                  </span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
          <div class="external-link col col-md-6">
            <div class="card{{ with $.Param "theme.stats" }} {{.}}{{ end }}">
              <a href="{{ $.Param "content.sections.stats.links.coinmarketcap.url" | relLangURL }}">
                {{ readFile $.Params.content.sections.stats.links.coinmarketcap.image | safeHTML }}
                <h3 data-scroll="once">
                  {{ $.Param "content.sections.stats.links.coinmarketcap.description" }}
                </h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $.Param "content.sections.stats.links.coinmarketcap.name" }}
                  <span>
                    {{ readFile "/static/svg/icons/icon-external-link.svg" | safeHTML }}
                  </span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="emission">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.emission.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.emission.subhead" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="emission-chart-wrapper">
              <canvas id="emission-chart" width="1" height="1"></canvas>
              {{ $p1 := $.Param "content.sections.emission.distribution.defi_foundation.percent" }}
              {{ $p2 := $.Param "content.sections.emission.distribution.development.percent" }}
              {{ $p3 := $.Param "content.sections.emission.distribution.airdrops.percent" }}
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js"></script>
              <script>
                // Chart
                  var ctx = document.getElementById('emission-chart').getContext('2d');
                  var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      datasets: [{
                        data: [{{$p1}}, {{$p2}}, {{$p3}}],
                        backgroundColor: [
                          '#080820',
                          '#5B10FF',
                          '#02B31B'
                        ],
                        borderColor: '#fff',
                        hoverBorderColor: '#fff',
                        borderWidth: 10
                      }]
                    },
                    options: {
                      legend: false,
                      tooltips: false,
                      cutoutPercentage: 60
                    }
                  });
              </script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-6 offset-ul-3">
            <div class="row">
              <div class="legend col col-4 night">
                <div class="legend-color"></div>
                <div class="legend-value">{{ $.Param "content.sections.emission.distribution.defi_foundation.percent" }}%</div>
                <div class="legend-label">{{ $.Param "content.sections.emission.distribution.defi_foundation.label" }}</div>
              </div>
              <div class="legend col col-4 purple">
                <div class="legend-color"></div>
                <div class="legend-value">{{ $.Param "content.sections.emission.distribution.development.percent" }}%</div>
                <div class="legend-label">{{ $.Param "content.sections.emission.distribution.development.label" }}</div>
              </div>
              <div class="legend col col-4 green">
                <div class="legend-color"></div>
                <div class="legend-value">{{ $.Param "content.sections.emission.distribution.airdrops.percent" }}%</div>
                <div class="legend-label">{{ $.Param "content.sections.emission.distribution.airdrops.label" }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="distribution">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.distribution.headline" }}</h2>
            <p class="lg" data-scroll="once">{{ $.Param "content.sections.distribution.subhead" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="distribution-chart-wrapper">
              <canvas id="distribution-chart" width="3" height="1"></canvas>
              <script>
                // Chart
                var ctx = document.getElementById('distribution-chart').getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: ["Y1", "Y2", "Y3", "Y4", "Y5", "Y6", "Y7"],
                    datasets: [{
                      data: [49, 74.5, 87.25, 93.625, 96.8125, 98.40625, 99.203125],
                      lineTension: 0,
                      borderWidth: 2,
                      borderColor: "#5B10FF",
                      backgroundColor: 'rgba(91, 16, 255, 0.05)',
                      pointBackgroundColor: "#fff",
                      pointHoverBackgroundColor: "#fff",
                      pointBorderWidth: 2,
                      pointHoverBorderWidth: 2,
                      pointRadius: 8,
                      pointHoverRadius: 8,
                      datalabels: {
                        clamp: true,
                        color: '#000',
                        align: 'bottom',
                        offset: 10,
                        font: {
                          size: 24
                        },
                        formatter: function (value) {
                          return value.toFixed(2) + "%";
                        }
                      }
                    }]
                  },
                  options: {
                    legend: false,
                    scales: {
                      yAxes: [{
                        gridLines: {
                          drawBorder: true,
                          zeroLineColor: 'rgba(0, 0, 0, 0.1)'
                        },
                        ticks: {
                          labelOffset: 10,
                          fontFamily: "'IBM Plex Sans', sans-serif",
                          fontSize: 14
                        }
                      }],
                      xAxes: [{
                        gridLines: {
                          drawBorder: true,
                          drawOnChartArea: false
                        },
                        ticks: {
                          labelOffset: 10,
                          fontFamily: "'IBM Plex Sans', sans-serif",
                          fontSize: 14
                        }
                      }]
                    }
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>