<div class="airdrop-balance col col-lg-5 col-xl-4 offset-xl-1">
  <div class="balance-wrapper">
    <!-- <h2>{{ $.Params.content.sections.hero.balance.headline }}</h2>
    <div class="balance-counter">
      <span class="balance-value" data-fivalue="1440600000000000">14,406,000</span>
      <span class="balance-unit">DFI</span>
    </div>
    <div class="proof-link">
      <a href="{{ $.Params.content.sections.hero.balance.proof.url }}" target="_blank">{{ $.Params.content.sections.hero.balance.proof.label }}</a>
    </div> -->
    <div class="airdrop-maintenance alert info">
      <h2>Airdrop Round 1 Closed</h2>
      <p>Thank you for all your participation. We have increased our DFI community by a huge amount and thus we have stopped the DFI airdrop for now, as we want to give the community some time to settle. Please check back for further updates and/or fill in your e-mail address below if you want to be notified. Thank you.</p>
      <p>The DeFiChain team</p>
    </div>
  </div>
</div>