<div class="airdrop-balance col col-lg-5 col-xl-4 offset-xl-1">
  <div class="balance-wrapper">
    <!-- <h2>{{ $.Params.content.sections.hero.balance.headline }}</h2>
    <div class="balance-counter">
      <span class="balance-value" data-fivalue="1440600000000000">14,406,000</span>
      <span class="balance-unit">DFI</span>
    </div>
    <div class="proof-link">
      <a href="{{ $.Params.content.sections.hero.balance.proof.url }}" target="_blank">{{ $.Params.content.sections.hero.balance.proof.label }}</a>
    </div> -->
    <div class="airdrop-maintenance">
      <h2>Airdrop under maintenance</h2>
      <p>We cannot give a definite timeline for when the airdrop resumes, due to fixing the signing of SegWit addresses, therefore the next announcement will happen in 24 hours on Friday Sep 11th at 8am UTC. We need to assess the exact time needed for our engineers. From there we will announce further info. There will NOT be a “airdrop is open in 5 minutes”, but you will have enough time to claim the DFI. The snapshot didn’t change and is in effect.</p>
      <p>DeFiChain team</p>
    </div>
  </div>
</div>