<footer class="footer{{ with $.Param "theme.footer" }} {{.}}{{ end }}">
  <div class="container-fluid">
    <div class="footer-logo row">
      <div class="col col-ul-7 offset-ul-1">
        <a class="brand" href="/">
          {{ readFile "/static/svg/logos/logo-defi.svg" | safeHTML }}
        </a>
        <h3>{{ $.Site.Params.description | markdownify }}</h3>
      </div>
    </div>
    <div class="footer-menu row">
      <div class="col col-md-4 offset-ul-1">
        <ul class="menu">
          {{ $currentPage := . }}
          {{ range .Site.Menus.footer }}
          <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ range .Site.Menus.white_paper }}
          <li class="{{ if $currentPage.IsMenuCurrent "white_paper" . }}active{{ end }}">
            <a href="{{ .URL | relLangURL }}">
              {{ readFile "/static/svg/icons/icon-cloud-download.svg" | safeHTML }}
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col col-md-4">
        <ul class="menu">
          <li>
            <a href="https://twitter.com/defichain" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://youtube.com/DeFiChain" target="_blank">YouTube</a>
          </li>
          <li>
            <a href="https://reddit.com/r/defiblockchain" target="_blank">Reddit</a>
          </li>
          <li>
            <a href="https://t.me/defiblockchain" target="_blank">Telegram</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/defichain" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="https://www.facebook.com/defichain.foundation" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://github.com/DeFiCh/ain" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
      <div class="col col-md-2">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="5804" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="false" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
      </div>
    </div>
    <div class="row">
      <div class="mbg1 col col-lg-3 offset-ul-1">
        <p>&copy; {{ $.Site.Params.company_name }}</p>
      </div>
    </div>
  </div>
  <div class="section-slope{{ with $.Param "theme.footer" }} {{.}}{{ end }}">
    {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
  </div>
</footer>