<footer class="footer{{ with $.Param "theme.footer" }} {{.}}{{ end }}">
  <div class="container-fluid">
    <div class="footer-logo row">
      <div class="col col-ul-7 offset-ul-1">
        <a class="brand" href="/">
          {{ readFile "/static/svg/logos/logo-defi.svg" | safeHTML }}
        </a>
        <h3>{{ $.Site.Params.description | markdownify }}</h3>
      </div>
    </div>
    <div class="footer-menu row">
      <div class="col col-md-6 offset-ul-1">
        <ul class="menu">
          {{ $currentPage := . }}
          {{ range .Site.Menus.footer }}
          <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li>
            <a href="https://github.com/DeFiCh/ain" target="_blank">
              {{ readFile "/static/svg/icons/icon-github.svg" | safeHTML }}
              GitHub
            </a>
          </li>
          {{ range .Site.Menus.white_paper }}
          <li class="{{ if $currentPage.IsMenuCurrent "white_paper" . }}active{{ end }}">
            <a href="{{ .URL | relLangURL }}">
              {{ readFile "/static/svg/icons/icon-cloud-download.svg" | safeHTML }}
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="mbg1 col col-lg-3 offset-ul-1">
        <p>&copy; {{ $.Site.Params.company_name }}</p>
      </div>
    </div>
  </div>
</footer>