<header>

  <!-- <div class="featured">
    <p>{{ .Site.Params.featured.headline | markdownify }}</p>
    <a href="{{ .Site.Params.featured.cta.url }}" class="btn btn-small">
      {{ .Site.Params.featured.cta.label }}
    </a>
  </div> -->
 
  <div class="container-fluid">
    <div class="row">

      <nav class="col col-ul-10 offset-ul-1">
        <a class="brand" href="/">
          {{ readFile "/static/svg/logos/logo-defi.svg" | safeHTML }}
        </a>
        <ul class="menu">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li
            class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
            {{- with .Page -}} id="nav-{{- .Type -}}"{{ end }}
          >
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li class="nav-developers">
            <a href="{{ .Site.Params.defiscan.url }}" target="_blank">
              {{ .Site.Params.defiscan.label }}
            </a>
          </li>
          <li class="github-list-link">
            <a href="{{ .Site.Params.github.url }}" target="_blank">
              {{ .Site.Params.github.label }}
            </a>
          </li>
          <li class="buy-dfi-list-link">
            <a href="#" class="btn buy-dfi-link">{{ .Site.Params.menu.buy_dfi }}</a>
            <div class="buy-dfi-popover">
              {{ range $exchange := .Site.Params.exchanges.list }}
                <a href="{{ $exchange.url }}" target="_blank" class="source" title="{{ $exchange.label }}">
                  <img 
                    src="{{ $exchange.file }}.{{ $exchange.type }}"
                    alt="{{ $exchange.label }}"
                    {{ with eq $exchange.type "png" }}
                      srcset="{{ $exchange.file }}.{{ $exchange.type }} 1x, {{ $exchange.file }}@2x.{{ $exchange.type }} 2x"
                    {{ end }}
                  >
                </a>
              {{ end }}
            </div>
          </li>
        </ul>
        <div class="spacer"></div>
        <div class="lang-switcher">
          <a href="#lang-menu">
            <span>{{ .Language.LanguageName }}</span>
            {{ readFile "/static/svg/icons/icon-dropdown.svg" | safeHTML }}
          </a>
          <div class="lang-menu current-{{ .Language }}" id="lang-switcher">
            <ul>
              {{ range $.Translations }}
              <li class="option-{{ .Language }}">
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="ext-menu">
          <a href="/downloads" class="downloads-link">{{ .Site.Params.menu.downloads }}</a>
          <div class="buy-dfi">
            <a href="#" class="btn buy-dfi-link">{{ .Site.Params.menu.buy_dfi }}</a>
            <div class="buy-dfi-popover">
              {{ range $exchange := .Site.Params.exchanges.list }}
                <a href="{{ $exchange.url }}" target="_blank" class="source" title="{{ $exchange.label }}">
                  <img 
                    src="{{ $exchange.file }}.{{ $exchange.type }}"
                    alt="{{ $exchange.label }}"
                    {{ with eq $exchange.type "png" }}
                      srcset="{{ $exchange.file }}.{{ $exchange.type }} 1x, {{ $exchange.file }}@2x.{{ $exchange.type }} 2x"
                    {{ end }}
                  >
                </a>
              {{ end }}
            </div>
          </div>
        </div>
        <!-- <div class="lang-switcher">
          <a href="#lang-menu" class="btn">
            {{ .Language }}
            {{ readFile "/static/svg/icons/icon-globe.svg" | safeHTML }}
          </a>
          <div class="lang-menu current-{{ .Language }}" id="lang-switcher">
            <ul>
              {{ range $.Site.Home.AllTranslations }}
              <li class="option-{{ .Language }}">
                <a href="{{ .Permalink | relURL }}">{{ .Language.LanguageName }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div> -->
        <div class="hbg">
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </nav>

    </div>
  </div>

</header>