{{ $Home := .Site.GetPage "/" }}
<section class="closer-look paper">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-6 col-ul-4 offset-ul-1">
        <h2>{{ $Home.Param "content.sections.closer_look.headline" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-8 col-md-6 col-ul-4 offset-ul-1">
        <p class="lg">{{ $Home.Param "content.sections.closer_look.subhead" }}</p>
      </div>
      <div class="carousel-nav col col-sm-4 col-md-6"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="carousel col col-ul-10 offset-ul-1">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
        {{ else }}
        <div class="card paper white">
          <a href="{{ .URL | relLangURL }}">
            <h3 class="h4">{{ .Name }}</h3>
            <blockquote>
              {{ .Page.Params.long_title }}
            </blockquote>
            <div class="spacer"></div>
            <div class="btn">
              {{ .Page.Params.cta_to }}
            </div>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="section-slope paper reverse">
    {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
  </div>
</section>