<section id="insiders" class="insiders white">
  <div class="container-fluid">
    <div class="row mbg1">
      <div class="col col-ul-5 offset-ul-1 mbg1">
        <div class="section-icon">
          {{ readFile "/static/svg/icons/icon-email.svg" | safeHTML }}
        </div>
        <h2>{{ $.Param "content.sections.insiders.headline" }}</h2>
        <p class="lg">{{ $.Param "content.sections.insiders.subhead" }}</p>
      </div>
    </div>
  </div>
  <div class="contributor-form container-fluid">
    <div class="row">
      <div class="col col-lg-6 col-ul-4 offset-ul-1">
        <!-- Begin Sendinblue Form -->
        <!-- START - We recommend to place the below code where you want the form in your website html  -->
        <div class="sib-form">
          <div id="sib-form-container" class="sib-form-container">
            <div id="error-message" class="sib-form-message-panel">
              <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                <span class="sib-form-message-panel__inner-text">
                  {{ $.Param "content.sections.insiders.form.messages.error.general" }}
                </span>
              </div>
            </div>
            <div id="success-message" class="sib-form-message-panel">
              <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                <span class="sib-form-message-panel__inner-text">
                  {{ $.Param "content.sections.insiders.form.messages.success" }}
                </span>
              </div>
            </div>
            <div id="sib-container" class="sib-container--medium sib-container--horizontal">
              <form id="sib-form" method="POST"
                action="https://5ccd2174.sibforms.com/serve/MUIEAII0Xxu5Lx0hLeXuBbsvtV3w9OosP6Z_BDyXbhrKuSlCjyMuvjoeXsf4wQp4ryrYu0vlbd4_y53n85mkdEpJJ6sf_oXYjTJDlgvNmGYw3M-QJPMo_8GYrzctkoBnDUbFiALfHSlDvEbCnNie-hebMMo5Fsb-Ri3iJM3tqgcxT0-jzj9kCPzUWlj6eR4imjgoQ--dssuzgWq_"
                data-type="subscription">
                <div class="form-field has-float-label form__entry entry_block">
                  <input class="input" maxlength="200" type="text" id="NAME" name="NAME" autocomplete="off"
                    placeholder="{{ $.Param "content.sections.insiders.form.name.placeholder" }}"
                    data-required="true" required />
                  <label for="NAME">{{ $.Param "content.sections.insiders.form.name.label" }}</label>
                  <div class="entry__error entry__error--primary"></div>
                </div>
                <div class="form-field has-float-label form__entry entry_block">
                  <input class="input" maxlength="200" type="email" id="EMAIL" name="EMAIL" autocomplete="off"
                    placeholder="{{ $.Param "content.sections.insiders.form.email.placeholder" }}"
                    data-required="true" required />
                  <label for="EMAIL">{{ $.Param "content.sections.insiders.form.email.label" }}</label>
                  <div class="entry__error entry__error--primary"></div>
                </div>
                <div class="form-field has-float-label form__entry entry_block">
                  <input class="input" maxlength="200" type="text" id="REACH" name="REACH" autocomplete="off"
                    placeholder="{{ $.Param "content.sections.insiders.form.reach.placeholder" }}"
                    data-required="true" required />
                  <label for="REACH">{{ $.Param "content.sections.insiders.form.reach.label" }}</label>
                  <div class="entry__error entry__error--primary"></div>
                </div>
                <div class="form-field has-float-label form__entry entry_block">
                  <textarea rows="3" class="input" maxlength="500" id="COMMENT" name="COMMENT" autocomplete="off"
                    placeholder="{{ $.Param "content.sections.insiders.form.comment.placeholder" }}"
                    data-required="true" required></textarea>
                  <label for="COMMENT">{{ $.Param "content.sections.insiders.form.comment.label" }}</label>
                  <div class="entry__error entry__error--primary"></div>
                </div>
                <input type="text" name="email_address_check" value="" class="input--hidden">
                <input type="hidden" name="locale" value="en">
                <button class="btn" form="sib-form" type="submit">
                  <svg class="d-none"></svg>
                  {{ $.Param "content.sections.insiders.form.button.label" }}
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- END - We recommend to place the below code where you want the form in your website html  -->
        <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
        <script>
          window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
          window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
          window.REQUIRED_ERROR_MESSAGE = "{{ $.Params.content.sections.roadmap.subscribe.messages.error.blank_field }}";
          window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
          window.translation = {
            common: {
              selectedList: '{quantity} list selected',
              selectedLists: '{quantity} lists selected'
            }
          };
          var AUTOHIDE = Boolean(0);
        </script>
        <script src="https://sibforms.com/forms/end-form/build/main.js">
        </script>
        <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
        <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
        <!-- End Sendinblue Form -->
      </div>
      <div class="col col-lg-6 col-ul-4 offset-ul-1">
        <p>{{ $.Param "content.sections.insiders.benefits.description" }}</p>
        <ul class="insiders-benefits">
          {{ range $benefit := $.Params.content.sections.insiders.benefits.benefits_list }}
          <li class="insiders-benefit">
            <div class="insiders-benefit-icon">{{ readFile $benefit.icon | safeHTML }}</div>
            <p class="insiders-benefit-label">
              {{ $benefit.label }}
            </p>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="section-slope white">
    {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
  </div>
</section>