{{ $Home := .Site.GetPage "/" }}
<section class="resources" id="{{ $Home.Param "content.sections.resources.name" }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-ul-5 offset-ul-1">
        <h2 data-scroll="once">{{ $Home.Param "content.sections.resources.headline" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="resource-cta col col-md-6">
            <div class="card">
              <a href="{{ $Home.Param "content.sections.resources.github.cta.url" | relLangURL }}">
                <div class="resource-image">
                  {{ readFile $Home.Params.content.sections.resources.github.image | safeHTML }}
                </div>
                <h3 data-scroll="once">
                  {{ $Home.Param "content.sections.resources.github.headline" | markdownify }}</h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $Home.Param "content.sections.resources.github.label" }}
                  <span>&#10142;</span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
          <div class="resource-cta col col-md-6">
            <div class="card">
              <a href="{{ $Home.Param "content.sections.resources.white_paper.url" | relLangURL }}">
                <div class="resource-image">
                  {{ readFile $Home.Params.content.sections.resources.white_paper.image | safeHTML }}
                </div>
                <h3 data-scroll="once">
                  {{ $Home.Param "content.sections.resources.white_paper.headline" | markdownify }}</h3>
                <div class="spacer"></div>
                <div class="cta-to" data-scroll="once">
                  {{ $Home.Param "content.sections.resources.white_paper.label" }}
                  <span>&#10142;</span>
                </div>
                <div class="bg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>