{{ $Site := .Site }}
{{ $Home := .Site.GetPage "/" }}
<section class="closer-look">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-6 col-ul-4 offset-ul-1">
        <h2 data-scroll="once">{{ $Home.Param "content.sections.closer_look.headline" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-8 col-md-6 col-ul-4 offset-ul-1">
        <blockquote data-scroll="once">{{ $Home.Param "content.sections.closer_look.subhead" }}</blockquote>
      </div>
      <div class="carousel-nav col col-sm-4 col-md-6">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <div class="container-flushed">
    <div class="row">
      <div class="carousel swiper-container col">
        <div class="swiper-wrapper">
          {{ $currentPage := . }}
          {{ range $Site.Menus.main }}
          {{ $P := $Site.GetPage "/vision" }}
          <div class="swiper-slide {{ if $currentPage.IsMenuCurrent "main" . }}current{{ end }}">
            <a href="{{ .URL | relLangURL }}">
              <h3 class="h2">{{ .Name }}</h3>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>