<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Site.Params.title }} &ndash; {{ $.Param "long_title" }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  {{ partial "favicons.html" . }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
  <meta name="facebook-domain-verification" content="685v1pwheklcowhkz3a7ygz3byethn">
</head>

<body class="home{{ with $.Param "theme.base" }} {{.}}{{ end }}">

  {{ partial "header.html" . }}

  <main>

    <section class="hero paper" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 offset-ul-1">
            <div class="hero-start">
              <h1>{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg">{{ $.Param "content.sections.hero.subhead" }}</p>
              <div class="hero-ctas">
                {{ range $cta := $.Params.content.sections.hero.ctas }}
                  <a href="{{ $cta.url }}" class="btn{{ with $cta.type }} btn-{{ . }}{{ end }}">
                    {{ $cta.label }}
                  </a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ partial "hero-art.html" . }}
    </section>

    <section id="problem-solution" class="problem-solution white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1 mbg1">
            <h2>{{ $.Param "content.sections.problem_solution.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.problem_solution.subhead" }}</p>
          </div>
          <div class="col col-lg-7 col-ul-5 offset-ul-1">
            <div class="defi-evolution-diagram">
              <div class="diagram-col">
                <span class="heading">{{ $.Param "content.sections.problem_solution.graph.traditional.label" }}</span>
                <div class="diagram-graph">
                  <div class="bureaucracy" style="height:{{ $.Param "content.sections.problem_solution.graph.traditional.top.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.traditional.top.label" }}
                  </div>
                  <div class="trust" style="height:{{ $.Param "content.sections.problem_solution.graph.traditional.bottom.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.traditional.bottom.label" }}
                  </div>
                </div>
              </div>
              <div class="diagram-col">
                <span class="heading">{{ $.Param "content.sections.problem_solution.graph.fintech.label" }}</span>
                <div class="diagram-graph">
                  <div class="bureaucracy" style="height:{{ $.Param "content.sections.problem_solution.graph.fintech.top.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.fintech.top.label" }}
                  </div>
                  <div class="trust" style="height:{{ $.Param "content.sections.problem_solution.graph.fintech.bottom.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.fintech.bottom.label" }}
                  </div>
                </div>
              </div>
              <div class="diagram-col defi">
                <span class="heading">{{ $.Param "content.sections.problem_solution.graph.defi.label" }}</span>
                <div class="diagram-graph">
                  <div class="bureaucracy" style="height:{{ $.Param "content.sections.problem_solution.graph.defi.top.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.defi.top.label" }}
                  </div>
                  <div class="trust" style="height:{{ $.Param "content.sections.problem_solution.graph.defi.bottom.percent" }}%">
                    {{ $.Param "content.sections.problem_solution.graph.defi.bottom.label" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope white">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="benefits" class="benefits day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2>{{ $.Param "content.sections.benefits.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $benefit := $.Param "content.sections.benefits.benefits_list" }}
              <div class="benefit col col-sm-6 col-md-4">
                <div class="wrapper">
                  <div class="benefit-icon">
                    {{ readFile $benefit.icon  | safeHTML }}
                  </div>
                  <h3>{{ $benefit.title }}</h3>
                  <p>{{ $benefit.description }}</p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="function-set" class="function-set benefits day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2>{{ $.Param "content.sections.function_set.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $function := $.Param "content.sections.function_set.functions_list" }}
              <div class="benefit col col-sm-6 col-md-4">
                <div class="wrapper">
                  <div class="benefit-icon">
                    {{ readFile $function.icon  | safeHTML }}
                  </div>
                  <h3>{{ $function.title }}</h3>
                  <p>{{ $function.description }}</p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="built-on-bitcoin" class="built-on-bitcoin white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-5 col-ul-4 offset-ul-1 mbg1">
            <h2>{{ $.Param "content.sections.built_on_bitcoin.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.built_on_bitcoin.subhead" }}</p>
            <a href="{{ $.Param "content.sections.built_on_bitcoin.link.url" }}" class="btn">
              {{ $.Param "content.sections.built_on_bitcoin.link.label" }}
            </a>
          </div>
          <div class="image col col-lg-7 col-ul-5">
            {{ readFile $.Params.content.sections.built_on_bitcoin.image | safeHTML }}
          </div>
        </div>
      </div>
      <div class="section-slope white reverse">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section id="decentralized-nodes" class="decentralized-nodes white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-7 col-ul-6 offset-ul-1 mbg1">
            <h2>{{ $.Param "content.sections.decentralized_nodes.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.decentralized_nodes.subhead" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col nodes-map">
            {{ readFile $.Params.content.sections.decentralized_nodes.map.image | safeHTML }}
          </div>
        </div>
      </div>
      <div class="section-slope white reverse">
        {{ readFile "/static/svg/section-slope-line.svg" | safeHTML }}
      </div>
    </section>

    <section id="roadmap" class="roadmap paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-ul-4 offset-ul-1">
            <h2>{{ $.Param "content.sections.roadmap.headline" }}</h2>
          </div>
        </div>
      </div>
      {{ range $year := $.Param "content.sections.roadmap.timeline" }}
      <div class="container-fluid">
        <div class="row">
          <div class="col col-6 col-sm-8 col-md-6 col-ul-4 offset-ul-1">
            <p class="lg">
              {{ $year.title}}
              <span class="roadmap-year-status">{{ $year.status}}</span>
            </p>
          </div>
          <div class="carousel-{{ $year.year }}-nav carousel-nav col col-6 col-sm-4 col-md-6"></div>
        </div>
      </div>
      <div class="carousel carousel-{{ $year.year }}">
        {{ range $eventindex, $event := $year.events }}
        <div class="timeline-event {{ $event.status }}">
          <div class="card white">
            <div class="event-content">
              <h4 class="h5">{{ $event.month }}</h4>
              {{ with $event.url }}<a href="{{ . }}" target="_blank">{{ end }}
                {{ $event.title }}
              {{ with $event.url }}</a>{{ end }}
            </div>
            <div class="event-image">
              <img src="{{ $event.image.x1 }}" srcset="{{ $event.image.x1 }} 1x, {{ $event.image.x2 }} 2x" alt="{{ $event.image.alt }}">
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
      <div class="section-slope paper">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $slick $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
  {{ partial "pixels/twitter.html" . }}
</body>

</html>