<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }}: {{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  <meta property="og:title" content="{{ $.Param "meta.og.title" }}">
  <meta property="og:description" content="{{ $.Param "meta.og.description" }}">
  <meta property="og:site_name" content="{{ $.Param "meta.og.site_name" }}">
  <meta property="og:url" content="{{ $.Param "meta.og.url" }}">
  <meta property="og:image" content="{{ $.Param "meta.og.image" }}">
  <meta property="og:image:type" content="{{ $.Param "meta.og.image_type" }}">
  <meta property="og:locale" content="{{ $.Param "meta.og.locale" }}">
</head>

<body class="home{{ with $.Param "theme.base" }} {{.}}{{ end }}">

  {{ partial "header.html" . }}

  <main>

    <section id="{{ $.Param "content.sections.hero.name" }}" class="hero{{ with $.Param "theme.hero" }} {{.}}{{ end }}" data-scroll data-scroll-showCallback="heroIn()"
      data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-xl-6 offset-ul-1">
            <div class="hero-start">
              <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
              <p class="lg" data-scroll="once">{{ $.Param "content.sections.hero.subhead" }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- animation hero here -->
    </section>

    <section class="defi-blockchain featured-video dark" id="{{ $.Param "content.sections.defi_blockchain.name" }}">
      <div class="container-flush">
        <div class="row">
          <div class="col col-lg-6">
            <div class="video-player" data-scroll="once">
              <div id="player-embed"></div>
              <script>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                  player = new YT.Player('player-embed', {
                    height: '390',
                    width: '640',
                    videoId: '{{ $.Param "content.sections.defi_blockchain.video" }}',
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    },
                    playerVars: {
                      controls: 0,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      showinfo: 0
                    }
                  });
                }
                function onPlayerReady(event) {
                  // play and pause
                }
                var done = false;
                function onPlayerStateChange(event) {
                  if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000);
                    done = true;
                  }
                }
                function stopVideo() {
                  player.stopVideo();
                }
              </script>
            </div>
          </div>
          <div class="col col-lg-6">
            <div class="video-info" data-scroll="once">
              <h2 class="lg">{{ $.Param "content.sections.defi_blockchain.headline" }}</h2>
              <div class="subject-name small">
                {{ $.Param "content.sections.defi_blockchain.subject_name" | markdownify }}</div>
              <div class="subject-title small">
                {{ $.Param "content.sections.defi_blockchain.subject_title" }}</div>
              <div class="quote lg">
                {{ $.Param "content.sections.defi_blockchain.quote" | markdownify }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contributors" id="{{ $.Param "content.sections.contributors.name" }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2 data-scroll="once">{{ $.Param "content.sections.contributors.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $contributor := $.Param "content.sections.contributors.contributors_list" }}
              <div class="contributor col col-sm-6 col-md-4" data-scroll="once">
                <div class="contributor-logo">
                  {{ readFile $contributor.logo  | safeHTML }}
                </div>
                <p>{{ $contributor.description }}</p>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.contributors.become_contributor.cta.url" | relLangURL }}">
                    <h3 data-scroll="once">{{ $.Param "content.sections.contributors.become_contributor.headline" | markdownify }}</h3>
                    <p class="description" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_contributor.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="cta-to" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_contributor.cta.label" }}
                      <span>&#10142;</span>
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
              <div class="contributor-cta col col-md-6">
                <div class="card">
                  <a href="{{ $.Param "content.sections.contributors.become_partner.cta.url" | relLangURL }}">
                    <h3 data-scroll="once">{{ $.Param "content.sections.contributors.become_partner.headline" | markdownify }}
                    </h3>
                    <p class="description" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_partner.description" }}
                    </p>
                    <div class="spacer"></div>
                    <div class="cta-to" data-scroll="once">
                      {{ $.Param "content.sections.contributors.become_partner.cta.label" }}
                      <span>&#10142;</span>
                    </div>
                    <div class="bg"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "section-subscribe.html" . }}
    
    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $swiper := resources.Get "js/swiper.min.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $swiper $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>