<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  {{ end }}
  {{ partial "favicons.html" . }}
  <meta property="og:title" content="{{ $.Params.meta.og.title }}">
  <meta property="og:description" content="{{ $.Params.meta.og.description }}">
  <meta property="og:site_name" content="{{ $.Params.meta.og.site_name }}">
  <meta property="og:url" content="{{ .Permalink | absURL }}">
  <meta property="og:image" content="{{ $.Params.meta.og.image | absURL }}">
  <meta property="og:image:type" content="{{ $.Params.meta.og.image_type }}">
  <meta property="og:locale" content="{{ $.Params.meta.og.locale }}">
</head>

<body class="dex">

  {{ partial "header.html" . }}

  <main>

    <section class="hero paper fort-canning" data-scroll data-scroll-showCallback="heroIn()" data-scroll-hideCallback="heroOut()">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="hero-intro">
              <h1>{{ $.Params.content.sections.hero.headline }}</h1>
              <p class="lg">{{ $.Params.content.sections.hero.subhead }}</p>
              <div class="hero-ctas">
                  <a href="{{ $.Params.content.sections.hero.cta.url }}" class="btn">
                    {{ $.Params.content.sections.hero.cta.label }}
                  </a>
              </div>
            </div>
            <div class="hero-image">
              <img
                src="{{ $.Params.content.sections.hero.image }}.png"
                srcset="{{ $.Params.content.sections.hero.image }}.png 1x, {{ $.Params.content.sections.hero.image }}@2x.png 2x"
                alt="DeFi app screenshot">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="liquidity_mining day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row lm-aprs">
              <div class="col lm-apr apr-btc-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-btc.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>BTC-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-eth-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-eth.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>ETH-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-usdt-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-usdt.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>USDT-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-ltc-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-ltc.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>LTC-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-usdc-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-usdc.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>USDC-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-bch-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-bch.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>BCH-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
              <div class="col lm-apr apr-doge-dfi">
                <div class="apr-coin">
                  <div class="apr-coin-icons">
                    {{ readFile "/static/svg/coins/icon-coin-doge.svg" | safeHTML }}
                    {{ readFile "/static/svg/coins/icon-coin-dfi.svg" | safeHTML }}
                  </div>
                  <div>DOGE-DFI</div>
                </div>
                <div class="apr-value loading">
                  <span class="spinner"><span class="b1"></span><span class="b2"></span><span class="b3"></span></span>
                  <div class="apr-label">{{ $.Params.content.sections.coins_apr.label }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="image col col-lg-8 col-ul-7 screenshot">
            <img
              src="{{ $.Params.content.sections.liquidity_mining.image }}.png"
              srcset="{{ $.Params.content.sections.liquidity_mining.image }}.png 1x, {{ $.Params.content.sections.liquidity_mining.image }}@2x.png 2x"
              alt="DeFi app screenshot">
          </div>
          <div class="col col-lg-5 col-ul-4 mbg1">
            <h2>{{ $.Param "content.sections.liquidity_mining.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.liquidity_mining.subhead" | markdownify }}</p>
          </div>
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section class="resources paper">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.guides.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              {{ range $guide := $.Params.content.sections.guides.guides_list }}
              <div class="resource-cta col col-md-6">
                <div class="card">
                  {{ with $guide.url }}
                  <a href="{{ . | relLangURL }}">
                  {{ else }}
                  <div>
                  {{ end }}
                    <div class="resource-image">
                      {{ readFile $guide.image | safeHTML }}
                    </div>
                    <h3 class="h4">
                      {{ $guide.headline | markdownify }}
                    </h3>
                    <div class="spacer"></div>
                    {{ if $guide.url }}
                    <div class="btn">
                      {{ $guide.label }}
                    </div>
                    {{ else }}
                    <div>Coming soon…</div>
                    {{ end }}
                    <div class="bg"></div>
                  {{ with $guide.url }}
                  </a>
                  {{ else }}
                  </div>
                  {{ end }}
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope reverse paper">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <section class="features benefits white">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-4 offset-ul-1">
            <h2>{{ $.Param "content.sections.features.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-ul-10 offset-ul-1">
            <div class="row">
              {{ range $feature := $.Param "content.sections.features.features_list" }}
              <div class="feature benefit col col-sm-6 col-md-4">
                <div class="wrapper">
                  <div class="benefit-icon">
                    {{ readFile $feature.icon  | safeHTML }}
                  </div>
                  <h3>{{ $feature.title }}</h3>
                  <p class="lg">{{ $feature.description }}</p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="section-slope white">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section>

    <!-- <section class="risks day">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-ul-5 offset-ul-1">
            <h2>{{ $.Param "content.sections.risks.headline" }}</h2>
            <p class="lg">{{ $.Param "content.sections.risks.subhead" | markdownify }}</p>
          </div>
        </div>
      </div>
      <div class="section-slope day">
        {{ readFile "/static/svg/section-slope.svg" | safeHTML }}
      </div>
    </section> -->

    {{ partial "section-closer-look.html" . }}

  </main>

  {{ partial "footer.html" . }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $debouncedresize := resources.Get "js/jquery.debouncedresize.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrolltrigger $slick $debouncedresize $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ partial "pixels/facebook.html" . }}
  {{ partial "pixels/linkedin.html" . }}
  {{ partial "pixels/twitter.html" . }}
</body>

</html>